@charset "utf-8";

.l_anonymous::before{
    content:'Anonymous';
}

.l_error_noboard::before{
    content:'Board not found.';
}.l_error_noaccess::before{
    content:'No access.';
}.l_error_process_file::before{
    content:'Error processing file.';
}.l_error_extension_not_supported::before{
    content:'Extension not supported.';
}.l_error_thread_locked::before{
    content:'Thread locked. You may not reply at this time.';
}

.l_disabled_for_darknet{
    content:'Option disabled for tor/i2p.';
}
 
.l_enter_captcha::before{
    content:'captcha';
}.l_captcha_mistype::before{
    content:'You made a mistake when entering captcha.';
}.l_back_page::before{
    content:'Back';
}.l_back::before{
    content:'Back'
}.l_search::before{
    content:'Search';
}.l_search_noresults::before{
    content:'No results...';
}

.l_custom_js::before{
    content:'Custom JS';
}.l_custom_css::before{
    content:'Custom CSS';
}
 


.l_btn_Submit::before{
    content:'Submit';
}.l_btn_Login::before{
    content:'Login';
}.l_btn_Save::before{
    content:'Save';
}.l_btn_Cancel::before{
    content:'Cancel';
}

 

.l_board_control::before{
    content:'Moderation' 
}.l_login_out::before{
    content:'LogOut' 
}.l_login_label::before{
    content:'username' 
}.l_passwd_label::before{
    content:'password' 
}.l_option::before{
    content:'Options' 
}.l_option_cp::before{
    content:'Crypto-Test'; 
}.l_optionSave::before{
    content:'save' 
}.l_optionLoad::before{
    content:'load' 
}.l_login::before{
    content:'Authorization' 
}.l_sitetheme::before{
    content:'Style' 
}.l_language::before{
    content:'Language' 
}.l_test_mode::before{
    content:'Test mode' 
}.l_relative::before{
    content:'Relative time' 
}.l_nsfm::before{
    content:'Hide images' 
}.l_video_vol::before{
    content:'Volume' 
}.l_view_thread::before{
    content:'View thread';
}.l_tripmask::before {
    content: 'Hide tripcode field';
}.l_DisableHideStyle::before{
    content: 'Don\'t highlight hidden posts';
}.l_delHiddenPosts::before {
    content: 'Delete hidden posts';
}.l_notify::before {
    content: 'Enable notifications';
}.l_login_enter::before{
    content:'Sign In' 
}.l_login_reg::before{
    content:'Register' 
}.l_antispam_1::before{
    content:'You need to pass an ' 
}.l_antispam_2::before{
    content:'antispam check' 
}.l_antispam_title::before{
    content:'Antispam Verification';
}.l_antispam_dont::before{
    content:'You do not need to pass an antispam check.';
}.l_antispam_block::before{
    content:'Tor/I2P posting is prohibited on this board.';
}.l_antispam_done::before{
    content:'You have already passed anti-spam check';
}.l_antispam_desc::before{
    content:'Sorry, you need to pass an antispam check, cookies must be enabled.';
}.l_antispam_left::before{
    content:'It remains to solve captcha: ';
}



.l_vote_success::before{
    content:'Voted!' 
}.l_alreadyvoted::before{
    content:'You have already voted.' 
}.l_poll_notfound::before{
    content:'Poll not found.' 
}.l_invalidvote::before{
    content:'Invalid variant.' 
}.l_invalidpost::before{
    content:'Invalid post.' 
}
 

 
 
.l_new_theread::before{
    content:'New Thread'
}.l_search{
    content:'Search'
}.l_catalog::before{
    content:'Catalog'
}.l_reply::before{
    content:'Reply'
}.l_sortby::before{
    content:'Sort by: '
}.l_sortbysize::before{
    content:'Size: '
}



/* Шапка */
.l_latest_threads::before{
    content:'Recent threads'
}


/* Меню поста  */
.l_show_post::before{
    content:'Show post'
}.l_hide_post::before{
    content:'Hide post'
}.l_show_thread::before{
    content:'Show thread'
}.l_hide_thread::before{
    content:'Hide thread'
}.l_show_trip::before{
    content:'Show trip'
}.l_hide_trip::before{
    content:'Hide trip'
}.l_show_anon::before{
    content:'Show anonymous'
}.l_hide_anon::before{
    content:'Hide anonymous'
}.l_report::before{
    content:'Report'
}.l_hide_thread_trip::before{
    content: 'Hide thread by trip';
}.l_show_thread_trip::before{
    content: 'Show thread by trip';
}.l_edited::before{
    content:'Edited'
}




.l_public_ban::before{
    content:'Ban: '
}.l_youarebanned::before{
    content:'You are banned'
}.l_youarebanned_on::before{
    content:'board: '
}.l_youarebanned_allboard::before{
    content:'You are banned on: '
}.l_permanent_ban::before{
    content:'Expires: forever'
}.l_banexpires::before{
    content:'Expires: '
}.l_reason::before{
    content:'Reason: '
}.l_ban_appiried::before{
    content:'Status: Applied...'
}.l_ban_apperdenied::before{
    content:'Status: apeear denied...'
}

.l_board_notubes::before{
    content: 'Synctubes not found at this moment';
}


.l_footer_text::before{
    display: block;
	white-space: pre;
    content: 'All rights and copyrights on this page belong to rightsholders. All comments are owned by the persons who sent them.\AIf you found the prohibited information, please let us know by admin e-mail'
}




.l_mod_banners::before{
	content: 'Banners'
}.l_mod_flags::before{
	content: 'Flag'
}.l_mod_assets::before{
	content: 'Asset'
}.l_mod_volunteers::before{
	content: 'Volunters'
}.l_mod_tags::before{
	content: 'Tags'
}.l_mod_pages::before{
	content: 'Pages'
}









.l_mod_settings::before{
	content: 'Settings'
}.l_mod_banners::before{
	content: 'Banners'
}.l_mod_flags::before{
	content: 'Flags'
}.l_mod_assets::before{
	content: 'Assets'
}.l_mod_volunteers::before{
	content: 'Volunteers'
}.l_mod_tags::before{
	content: 'Tags'
}.l_mod_pages::before{
	content: 'Pages'
}.l_return_to_dashboard::before{
    content: 'Return to Dashboard'
}.l_mod_save_changes::before{
    content: 'Save Changes'
}






.l_you_are_banned::before{
    content: 'You are banned!'
}.l_you_were_banned::before{
    content: 'You were banned.'
}.l_you_were_banned_opmod::before{
    content: 'You were banned (thread ban).'
}.l_you_are_banned_opmod::before{
    content: 'Thread creator banned you.'
}.l_you_id::before{
    content: 'You ID: '
}.l_you_banned_post::before{
	content: 'You were banned for the following post on'
}.l_you_submitted_appeal::before{
	content: 'You submitted an appeal for this ban on'
}.l_appeal_still_pending::before{
	content: 'It is still pending.'
}.l_you_may_apeeal::before{
	content: 'You may appeal this ban. Please enter your reasoning below.'
}.l_btn_appeal::before{
	content: 'Send appeal'
}



/* cap codes */
.capcode-Admin::before{
    content: '## Admin ##'
}.capcode-GlobalMod::before{
    content: '## Global Moderator ##'
}.capcode-Mod::before{
    content: '## Moderator ##'
}.capcode-Owner::before{
    content: '# Board Owner #'
}.capcode-Volunteer::before{
    content: '# Volunteer #'
}