@charset "utf-8";

.l_anonymous::before{
    content:'アノニマス';
}

.l_error_noboard::before{
    content:'見つかりません';
}.l_error_noaccess::before{
    content:'アクセスなし';
}.l_error_process_file::before{
    content:'ファイル処理エラー';
}.l_error_extension_not_supported::before{
    content:'拡張子はサポートされていません';
}

.l_disabled_for_darknet{
    content:'のオプションが無効です tor/i2p.';
}
 
.l_enter_captcha::before{
    content:'キャプチャ';
}.l_captcha_mistype::before{
    content:'CAPTCHAに失敗しました';
}.l_back::before{
    content:'戻る'
}.l_back_page::before{
    content:'戻る';
}.l_search::before{
    content:'サーチ';
}

.l_custom_js::before{
    content:'カスタム JS';
}.l_custom_css::before{
    content:'カスタム CSS';
}
 


.l_btn_Submit::before{
    content:'提出する';
}.l_btn_Login::before{
    content:'ログイン';
}.l_btn_Save::before{
    content:'セーブ';
}.l_btn_Cancel::before{
    content:'キャンセル';
}

 

.l_board_control::before{
    content:'節度' 
}.l_login_out::before{
    content:'ログアウト' 
}.l_login_label::before{
    content:'ユーザー名' 
}.l_passwd_label::before{
    content:'パスワード' 
}.l_option::before{
    content:'オプション' 
}.l_option_cp::before{
    content:'暗号テスト'; 
}.l_optionSave::before{
    content:'保存' 
}.l_optionLoad::before{
    content:'負荷' 
}.l_login::before{
    content:'認可' 
}.l_sitetheme::before{
    content:'スタイル' 
}.l_language::before{
    content:'言語' 
}.l_test_mode::before{
    content:'Test mode' 
}.l_relative::before{
    content:'相対時間' 
}.l_nsfm::before{
    content:'画像を隠す' 
}.l_video_vol::before{
    content:'ボリューム' 
}.l_view_thread::before{
    content:'スレッドを見る';
}.l_tripmask::before {
    content: 'トリップコードフィールドを隠す';
}.l_DisableHideStyle::before{
    content: '非表示の投稿を強調表示しない';
}.l_delHiddenPosts::before {
    content: '非表示の投稿を削除する';
}.l_notify::before {
    content: '通知を有効にします';
}.l_login_enter::before{
    content:'サインイン' 
}.l_login_reg::before{
    content:'登録' 
} 



.l_vote_success::before{
    content:'投票した!' 
}.l_alreadyvoted::before{
    content:'あなたはすでに投票しました' 
}.l_poll_notfound::before{
    content:'投票が見つかりません' 
}.l_invalidvote::before{
    content:'無効なバリアント' 
}.l_invalidpost::before{
    content:'無効な投稿' 
}
 

 
 
.l_new_theread::before{
    content:'新しいスレッド'
}.l_search{
    content:'サーチ'
}.l_catalog::before{
    content:'カタログ'
}.l_reply::before{
    content:'応答'
}.l_sortby::before{
    content:'並び替え: '
}.l_sortbysize::before{
    content:'サイズ: '
}



/* Шапка */
.l_latest_threads::before{
    content:'最近のスレッド'
}


/* Меню поста  */
.l_show_post::before{
    content:'投稿を表示'
}.l_hide_post::before{
    content:'投稿を隠す'
}.l_show_thread::before{
    content:'スレッドを表示'
}.l_hide_thread::before{
    content:'スレッドを隠す'
}.l_show_trip::before{
    content:'旅を表示'
}.l_hide_trip::before{
    content:'旅を隠す'
}.l_show_anon::before{
    content:'匿名を表示'
}.l_hide_anon::before{
    content:'匿名を隠す'
}.l_report::before{
    content:'報告書'
}.l_hide_thread_trip::before{
    content: '旅行でスレッドを隠す';
}.l_show_thread_trip::before{
    content: '旅行でスレッドを表示';
}.l_edited::before{
    content:'編集済み'
}


.l_youarebanned::before{
    content:'あなたは禁止されています'
}.l_youarebanned_on::before{
    content:'ボード: '
}.l_youarebanned_allboard::before{
    content:'あなたは禁止されています: '
}.l_permanent_ban::before{
    content:'有効期限：永遠に'
}.l_banexpires::before{
    content:'有効期限: '
}.l_reason::before{
    content:'理由: '
}.l_ban_appiried::before{
    content:'状態: 適用済み...'
}.l_ban_apperdenied::before{
    content:'状態: 拒否されたようです...'
}

.l_board_notubes::before{
    content: 'Synctubes not found at this moment';
}


.l_footer_text::before{
    display: block;
	white-space: pre;
    content: 'All rights and copyrights on this page belong to rightsholders. All comments are owned by the persons who sent them.\AIf you found the prohibited information, please let us know by e-mail admin@neochan.ru'
}





.l_mod_settings::before{
	content: '設定'
}.l_mod_banners::before{
	content: 'バナー'
}.l_mod_flags::before{
	content: 'フラグ'
}.l_mod_assets::before{
	content: '資産'
}.l_mod_volunteers::before{
	content: 'ボランティア'
}.l_mod_tags::before{
	content: 'タグ'
}.l_mod_pages::before{
	content: 'ページ数'
}.l_return_to_dashboard::before{
    content: 'ダッシュボードに戻る'
}.l_mod_save_changes::before{
    content: '変更内容を保存'
}






.l_you_are_banned::before{
    content: 'あなたは禁止されています!'
}.l_you_were_banned::before{
    content: 'あなたは禁止されました.'
}.l_you_were_banned_opmod::before{
    content: 'あなたは禁止されました（スレッド禁止）'
}.l_you_are_banned_opmod::before{
    content: 'スレッド作成者があなたを禁止しました'
}.l_you_id::before{
    content: 'あなたの ID: '
}.l_you_banned_post::before{
	content: '次の投稿は禁止されています'
}.l_you_submitted_appeal::before{
	content: 'この禁止の申し立てをに送信しました'
}.l_appeal_still_pending::before{
	content: 'まだ保留中です'
}.l_you_may_apeeal::before{
	content: 'あなたはこの禁止を訴えるかもしれません。以下にあなたの推論を入力してください'
}.l_btn_appeal::before{
	content: '上訴する'
}
