@charset "utf-8";

.l_anonymous::before{
    content:'작자 불명의';
}

.l_error_noboard::before{
    content:'찾을 수 없음';
}.l_error_noaccess::before{
    content:'접근 금지';
}.l_error_process_file::before{
    content:'파일 처리 오류';
}.l_error_extension_not_supported::before{
    content:'확장 기능이 지원되지 않습니다';
}

.l_disabled_for_darknet{
    content:'에 대해 사용 중지 된 옵션 tor/i2p.';
}
 
.l_enter_captcha::before{
    content:'보안 문자';
}.l_captcha_mistype::before{
    content:'보안 문자를 사용하지 못했습니다';
}.l_back::before{
    content:'뒤로'
}.l_back_page::before{
    content:'뒤로';
}.l_search::before{
    content:'수색';
}

.l_custom_js::before{
    content:'관습 JS';
}.l_custom_css::before{
    content:'관습 CSS';
}
 


.l_btn_Submit::before{
    content:'복종시키다';
}.l_btn_Login::before{
    content:'로그인';
}.l_btn_Save::before{
    content:'구하다';
}.l_btn_Cancel::before{
    content:'취소';
}

 

.l_board_control::before{
    content:'절도' 
}.l_login_out::before{
    content:'로그 아웃' 
}.l_login_label::before{
    content:'사용자 이름' 
}.l_passwd_label::before{
    content:'암호' 
}.l_option::before{
    content:'옵션' 
}.l_option_cp::before{
    content:'암호 테스트'; 
}.l_optionSave::before{
    content:'구하다' 
}.l_optionLoad::before{
    content:'하중' 
}.l_login::before{
    content:'권한 부여' 
}.l_sitetheme::before{
    content:'스타일' 
}.l_language::before{
    content:'언어' 
}.l_test_mode::before{
    content:'Test mode' 
}.l_relative::before{
    content:'상대 시간' 
}.l_nsfm::before{
    content:'이미지 숨기기' 
}.l_video_vol::before{
    content:'소리' 
}.l_view_thread::before{
    content:'실보기';
}.l_tripmask::before {
    content: '여행 코드 숨기기';
}.l_DisableHideStyle::before{
    content: '숨겨진 게시물을 강조 표시하지';
}.l_delHiddenPosts::before {
    content: '숨겨진 게시물 삭제';
}.l_notify::before {
    content: '알림 사용';
}.l_login_enter::before{
    content:'로그인' 
}.l_login_reg::before{
    content:'레지스터' 
} 


.l_vote_success::before{
    content:'투표함!' 
}.l_alreadyvoted::before{
    content:'너 이미 투표 했구나' 
}.l_poll_notfound::before{
    content:'설문 조사를 찾을 수 없음' 
}.l_invalidvote::before{
    content:'유효하지 않은 변형' 
}.l_invalidpost::before{
    content:'잘못된 게시물' 
}
 

 
 
.l_new_theread::before{
    content:'새 스레드'
}.l_search{
    content:'수색'
}.l_catalog::before{
    content:'목록'
}.l_reply::before{
    content:'댓글'
}.l_sortby::before{
    content:'정렬 기준: '
}.l_sortbysize::before{
    content:'크기: '
}



/* Шапка */
.l_latest_threads::before{
    content:'최근 스레드'
}


/* Меню поста  */
.l_show_post::before{
    content:'게시물 표시'
}.l_hide_post::before{
    content:'소식 숨기기'
}.l_show_thread::before{
    content:'실보기'
}.l_hide_thread::before{
    content:'스레드 숨기기'
}.l_show_trip::before{
    content:'여행 표시'
}.l_hide_trip::before{
    content:'여행 숨기기'
}.l_show_anon::before{
    content:'익명 표시'
}.l_hide_anon::before{
    content:'익명으로 숨기기'
}.l_report::before{
    content:'보고서'
}.l_hide_thread_trip::before{
    content: '여행 별 실 숨기기';
}.l_show_thread_trip::before{
    content: '여행 별 실보기';
}.l_edited::before{
    content:'수정 됨'
}


.l_youarebanned::before{
    content:'너는 금지되어있어'
}.l_youarebanned_on::before{
    content:'판: '
}.l_youarebanned_allboard::before{
    content:'너는 금지되어있어: '
}.l_permanent_ban::before{
    content:'만료 : 영원히'
}.l_banexpires::before{
    content:'만료: '
}.l_reason::before{
    content:'이유: '
}.l_ban_appiried::before{
    content:'지위: 적용된...'
}.l_ban_apperdenied::before{
    content:'지위: 거부당한 것으로 보인다...'
}

.l_board_notubes::before{
    content: 'Synctubes not found at this moment';
}


.l_footer_text::before{
    display: block;
	white-space: pre;
    content: 'All rights and copyrights on this page belong to rightsholders. All comments are owned by the persons who sent them.\AIf you found the prohibited information, please let us know by e-mail admin@neochan.ru'
}




.l_mod_settings::before{
	content: '세팅'
}.l_mod_banners::before{
	content: '배너'
}.l_mod_flags::before{
	content: '깃발'
}.l_mod_assets::before{
	content: '유산'
}.l_mod_volunteers::before{
	content: '자원 봉사자들'
}.l_mod_tags::before{
	content: '태그'
}.l_mod_pages::before{
	content: '페이지'
}.l_return_to_dashboard::before{
    content: '대시 보드로 돌아 가기'
}.l_mod_save_changes::before{
    content: '변경 사항을 저장하다'
}






.l_you_are_banned::before{
    content: '너는 금지되어있어!'
}.l_you_were_banned::before{
    content: '너는 금지 당했다'
}.l_you_were_banned_opmod::before{
    content: '당신은 금지되었습니다 (실 금지)'
}.l_you_are_banned_opmod::before{
    content: '스레드 작성자가 당신을 금지했습니다'
}.l_you_id::before{
    content: '당신 ID: '
}.l_you_banned_post::before{
	content: '다음 게시물에 대해 금지되었습니다'
}.l_you_submitted_appeal::before{
	content: '이 금지에 대한 항소를 제출했습니다'
}.l_appeal_still_pending::before{
	content: '아직 보류 중이다.'
}.l_you_may_apeeal::before{
	content: '이 금지에 항소 할 수 있습니다. 추론을 아래에 입력하십시오.'
}.l_btn_appeal::before{
	content: '항의 보내기'
}
