@charset "utf-8";

.post-link-op::after{
    content: ' (OP)';
}

.l_anonymous::before{
    content:'Аноним';
}

.l_error_noboard::before{
    content:'Доска не найдена.';
}.l_error_noaccess::before{
    content:'Нет доступа.';
}.l_error_process_file::before{
    content:'Ошибка при обработке файла.';
}.l_error_extension_not_supported::before{
    content:'Тип файла не поддерживается.';
}.l_error_thread_locked::before{
    content:'Тред закрыт, вы не можете написать сюда.';
}

.l_disabled_for_darknet{
    content:'Опция отключена для tor/i2p сетей.';
}
 
.l_enter_captcha::before{
    content:'капча';
}.l_captcha_mistype::before{
    content:'Вы ошиблись при вводе капчи.';
}.l_back_page::before{
    content:'Назад';
}.l_search::before{
    content:'Поиск';
}.l_search_noresults::before{
    content:'Ничего не найдено...';
}

 
.l_custom_js::before{
    content:'Встроить JS';
}.l_custom_css::before{
    content:'Встроить CSS';
}
 

.l_btn_Submit::before{
    content:'Отправить';
}.l_btn_Login::before{
    content:'Войти';
}.l_btn_Save::before{
    content:'Сохранить';
}.l_btn_Cancel::before{
    content:'Отмена';
}



.l_board_control::before{
    content:'Управление доской' 
}.l_login_out::before{
    content:'Выход' 
}.l_login_label::before{
    content:'логин' 
}.l_passwd_label::before{
    content:'пароль' 
}.l_option::before{
    content:'Настройка' 
}.l_option_cp::before{
    content:'Крипто-Тест'; 
}.l_optionSave::before{
    content:'импорт' 
}.l_optionLoad::before{
    content:'экспорт' 
}.l_login::before{
    content:'Авторизация' 
}.l_sitetheme::before{
    content:'Тема' 
}.l_language::before{
    content:'Язык' 
}.l_relative::before{
    content:'Относительное время' 
}.l_nsfm::before{
    content:'Скрывать картинки' 
}.l_test_mode::before{
    content:'Тестовый режим' 
}.l_video_vol::before{
    content:'Громкость плеера';
}.l_view_thread::before{
    content:'Перейти к треду';
}.l_tripmask::before {
    content: 'Маскировать трипкод';
}.l_DisableHideStyle::before{
    content: 'Не помечать скрытые посты';
}.l_delHiddenPosts::before {
    content: 'Удалять скрытые посты';
}.l_notify::before {
    content: 'Включить уведомления';
}.l_login_enter::before{
    content:'Войти';
}.l_login_reg::before{
    content:'Регистрация';
}.l_antispam_1::before{
    content:'Вам необходимо пройти ';
}.l_antispam_2::before{
    content:'антиспам проверку';
}.l_antispam_title::before{
    content:'Антиспам проверка';
}.l_antispam_dont::before{
    content:'Вам не нужно проходить проверку.';
}.l_antispam_block::before{
    content:'На данной доске запрещён постинг из тора.';
}.l_antispam_done::before{
    content:'Вы уже прошли антиспам проверку.';
}.l_antispam_desc::before{
    content:'К сожалению, вам нужно пройти антиспам проверку, куки должны быть включены.';
}.l_antispam_left::before{
    content:'Осталось решить капч: ';
}.l_antispam_postlimit_per_minute::before{
    content:'Достигнут лимит отправки постов в минуту. Пожалуйста, попробуйте позднее.';
}.l_antispam_postlimit_per_hour::before{
    content:'Достигнут лимит отправки постов в час. Пожалуйста, попробуйте позднее.';
}.l_antispam_threadlimit_per_minute::before{
    content:'Достигнут лимит создания тредов в минуту. Пожалуйста, попробуйте позднее.';
}.l_antispam_threadlimit_per_hour::before{
    content:'Достигнут лимит создания тредов в час. Пожалуйста, попробуйте позднее.';
}
 
.l_vote_success::before{
    content:'Ваш голос учтён.' 
}.l_alreadyvoted::before{
    content:'Вы уже голосовали.' 
}.l_poll_notfound::before{
    content:'Опрос не найден.' 
}.l_invalidvote::before{
    content:'Неверный вариант.' 
}.l_invalidpost::before{
    content:'Не верный номер поста.' 
}
 

 
.l_new_theread::before{
    content:'Создать тред'
}.l_search{
    content:'Поиск'
}.l_back::before{
    content:'Назад'
}.l_catalog::before{
    content:'Каталог'
}.l_reply::before{
    content:'Ответить'
}.l_sortby::before{
    content:'Сортировать: '
}.l_sortbysize::before{
    content:'Размер : '
}


/* Шапка */
.l_latest_threads::before{
    content:'Последние треды'
}

/* Меню поста  */
.l_show_post::before{
    content:'Показать пост'
}.l_hide_post::before{
    content:'Скрыть пост'
}.l_show_thread::before{
    content:'Показать тред'
}.l_hide_thread::before{
    content:'Скрыть тред'
}.l_show_trip::before{
    content:'Показывать трип'
}.l_hide_trip::before{
    content:'Скрывать трип'
}.l_show_anon::before{
    content:'Показывать анонимов'
}.l_hide_anon::before{
    content:'Скрывать анонимов'
}.l_report::before{
    content:'Жалоба'
}.l_hide_thread_trip::before{
    content: 'Скрыть тред по трипу';
}.l_show_thread_trip::before{
    content: 'Показывать тред по трипу';
}.l_edited::before{
    content:'Отредактирован'
}

/* Thread */
.l_post_reply::before{
    content:'Ответ'
}

.l_public_ban::before{
    content:'Бан: '
}.l_youarebanned::before{
    content:'Вы забанены'
}.l_youarebanned_on::before{
    content:'доска: '
}.l_youarebanned_allboard::before{
    content:'На всех досках'
}.l_permanent_ban::before{
    content:'Срок блокировки: навсегда'
}.l_banexpires::before{
    content:'Истекает: '
}.l_reason::before{
    content:'Причина: '
}.l_ban_appiried::before{
    content:'Статус: находится на рассмотрении.'
}.l_ban_apperdenied::before{
    content:'Статус: в разбане отказано.'
}.l_post_removed::before{
    content:'Пост удалён.' 
}

.l_board_notubes::before{
    content: 'В данный момент нет работающих кинотеатров.';
}



.l_footer_text::before{
    display: block;
	white-space: pre;
    content: 'Все права и копирайты на этой странице принадлежат правообладателям. Все комментарии принадлежат лицам, отправившим их.\AЕсли вы обнаружили pfghtotyyинформацию, пожалуйста, сообщите нам на почту admin@neochan.ru'
}






.l_mod_settings::before{
	content: 'Настройки'
}.l_mod_banners::before{
	content: 'Баннеры'
}.l_mod_flags::before{
	content: 'Флаги'
}.l_mod_assets::before{
	content: 'Значки'
}.l_mod_volunteers::before{
	content: 'Волонтеры'
}.l_mod_tags::before{
	content: 'Теги'
}.l_mod_pages::before{
    content: 'Страницы'
}.l_return_to_dashboard::before{
    content: '<- вернутся в профиль'
}.l_mod_save_changes::before{
    content: 'Сохранить Изменения'
}




/* Ban Page */
.l_you_are_banned::before{
    content: 'Вы забанены!'
}.l_you_were_banned::before{
    content: 'Срок бана закончился.'
}.l_you_were_banned_opmod::before{
    content: 'Срок блокировки (создателем треда) закончился.'
}.l_you_are_banned_opmod::before{
    content: 'Создатель треда забанил вас.'
}.l_you_id::before{
    content: 'Ваш идентификатор : '
}.l_you_banned_post::before{
	content: 'Вы были забанены за это сообщение: '
}.l_you_submitted_appeal::before{
	content: 'Вы отправили аппеляцию '
}.l_appeal_still_pending::before{
	content: 'Ожидает обработки.'
}.l_appeal_still_pending::before{
	content: 'Ожидает обработки.'
}.l_you_may_appeal::before{
	content: 'Вы можете обжаловать бан. Введите причину ниже.'
}.l_btn_appeal::before{
	content: 'Отправить'
}


/* cap codes */
.capcode-Admin::before{
    content: '## Админ ##'
}.capcode-GlobalMod::before{
    content: '## Глобальный Модератор ##'
}.capcode-Mod::before{
    content: '## Модератор ##'
}.capcode-Owner::before{
    content: '# Владелец доски #'
}.capcode-Volunteer::before{
    content: '# Волонтёр #'
}





/* mod log theme */
.ml_mod-delete-post::before{
    content: 'удалён';
}.ml_mod-delete-thread::before{
    content: 'тред удалён';
}.ml_mod-ban-post::before{
    content: 'забанен';
}.ml_mod-ban-thread::before{
    content: 'тред забанен';
}.ml_mod-ban-delete-post::before{
    content: 'удалён и забанен';
}.ml_mod-ban-delete-thread::before{
    content: 'тред удалён и забанен';
}.ml_mod-delete-by-ip-post::before{
    content: 'удалёны все посты';
}.ml_mod-delete-by-thread::before{
    content: 'удалёны все посты';
}
/*    end    */



















