# static html and json
/*/*.html
/*/*.json
/*/*.rss
/tmp/embed/*
/*/res
/*/src
/*/thumb
/*.html
/*/config.php
!/inc/config.php

/statistics.php


# include some files though
!/templates/*.html 




# templates cache
/templates/cache

# other stuff
.DS_Store
.htaccess
thumbs.db
Icon?
Thumbs.db
*.patch
*.diff
*.rej
*.orig
*~

# tmp filesystem
/tmp/cache/*
/tmp/locks/*
!/tmp/cache/.gitkeep
!/tmp/locks/.gitkeep


#json
/boards.json
/boards-top20.json
/8archive.json
/tags.json

#board specific files
/*/rules.txt
/stylesheets/board/*.css




#neochan dev
/bots
/all/index.html
/test.php
/exporter.php
inc/secrets.php

online.php
bot.php
bot2.php
video_bot.php
bot2.news.json
old.posts.json
0
pma 
all/index.html
main.js