<header class="header" style='font-family: Tahoma, Verdana, sans-serif;'>
<a class="header-item header-logo" href="/"><i style="display: block;width: 30px;height: 22px;background: url(/static/lolifox_logo.png);background-size: cover;margin-top: 4px;"></i></a>
<a class="header-item header-board" href="/boards.html"><i class="fa fa-tags"></i> Доски</a>
<a class="header-item header-board" href="/tudo"><i class="fa fa-signal"></i> Последние треды</a>
<a class="header-item header-board" href="/search.php"><i class="fa fa-search"></i> Поиск</a>

<a class="header-item header-board" href="http://lisach7joohmqk3a.onion"><i class="fa fa-train fa-rotate-270"></i> Onion</a>


 

<span class="header-item" > [ <a href="/b">b</a> / <a href="/rus">rus</a> / <a href="/mod">mod</a> ] </span>

<div class="header-spacer"></div>
<div class="header-spacer"></div>

<a class="header-item header-icon" id="btn-neotube" title="Кинотеатр" onclick="searchTubes()" style='display: none'><i class="fa fa-film"></i></a>
<a class="header-item header-icon header-options-icon" title="Вход" id="btn-login"><i class="fa fa-user"></i></a>
<a class="header-item header-icon" title="Справка" onclick="alert('Скоро будет доступно')"><i class="fa fa-question"></i></a>  
<a class="header-item header-icon header-options-icon" title="Настройки" id="btn-options"><i class="fa fa-gear"></i></a>
</header>
