
<div class="op-login">
	<h1>{% trans 'Enter tripcode' %}</h1>
	{% if error %}<h4 style="text-align:center">{{ error }}!</h4>{% endif %}
	<form action="" method="post">
		<input class="theme-textbox" type="text" name="trip" size="20" maxlength="30" value="{{ username|e }}">
        <button type="submit" class="button">Let me in.</button>
    </form>
</div>


<style>


* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }


.op-login { 
	position: absolute;
	top: 35%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.op-login h1 {  
	letter-spacing:2px; 
	text-align:center; 
}

.op-login input { 
	width: 100%; 
	margin-bottom: 10px; 
}

.op-login button { 
	width: 100%; 
}




</style>