
/* WINDOWS */
.win{
    position: fixed;
    padding: 2px;
    z-index: 500;
    text-align: left;
    font-size: 0.9em;
}

.win-head{
    margin-bottom: 1px;
    padding: 2px;
    cursor: move;
    font-size: 14px;
    text-align: center;
}

.win-body{
    display: flex;
}

.win-footer{
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

.win-footer .button{
    margin: 0px 2px;
}





/* MENU */
@media (max-width:480px){
.view-mobile{display: block;} 
.view-inline-mobile{display: inline-block;}  
.view-pc{display: none;}
.view-inline-pc{display: none;}
}

@media (min-width:480px)  {
.view-mobile{display: none;} 
.view-inline-mobile{display: none;} 
.view-pc{display: block;}
.view-inline-pc{display: inline-block;}
}

.mobile-menu select {
    background: transparent;
    width: 145px;
    font-size: 18px;
    border: 1px solid rgba(204, 204, 204, 0.151);
    height: 100%;
 } 
 
 .mobile-menu{
    width: 145px;
    height: 100%;
    border-left: 1px solid #1111111a;
    border-right: 1px solid #1111111a;
    border-radius: 3px;
    overflow: hidden;
}
 











#player-container { 
    margin: 0 !important;
    z-index: 9999;
    background-color: #ccc;
    border: 1px solid black !important;
}

.flag{
    margin-right: 5px;
}

#surprize{
    display: none;
}


.captcha-box{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95vw;
    width: 600px;
}

.captcha-box-small{
    height: 80px!important;
    width: 298px!important;
    min-width: 298px!important;
    min-height: 80px!important;
}

.captcha-wrap {
    cursor: pointer;
    line-height: 80px;
    background: white;
    box-sizing: border-box;
}

.captcha-info {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
}

/*        NEW SMILES       */

.smile{
    min-width: 46px;
    text-align: center;
    padding: 2px;
}

.smile-picker{
    position: relative;
}

 
.smile-picker-box{
    display: block;
    width: 336px;
    height: 230px;
    overflow: hidden;
    border-radius: 5px;
    outline: none;
    z-index: 99999;     
}
 
.smile-picker-mark{
    position: absolute;
    left: 4px;
    bottom: -8px;    
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    width: 24px;
    height: 8px;
}


.smile-tab{
    padding: 0px 0px 0px 0px;
    margin: 6px 0px 0px 2px;
    height: 179px;
    overflow-y: auto;
}

.smile-category{
    margin: 0;
    padding: 4px 0px 0px 0px; 
    display: table; 
    width: 100%;  
    list-style: none; 
}

.smile-category-image{
    cursor: pointer;
    display: inline-block;
    background-size: 28px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}

.sc-item{
    text-decoration: none; 
    padding: 5px; 
    position: initial; 
    font-size: 24px; 
    display: table-cell; 
    text-align: center; 
    cursor: pointer;
}
/* -------   END -------  */



.hide_upload input[type="file"]{ display: none;}

#smilesBox {
    display: none;
}
.tippy-tooltip #smilesBox {
    display: block !important;
}
@media (max-width: 768px) {
    .page-nav {
        bottom: auto !important;
    }
}
.post-file.audioplayer > .post-file-info {

    max-width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.post-file.audioplayer .audio-url {
    position: relative;
    height: 145px;
    width: 155px;
    /*background-color: rgba(231, 238, 246, 0.75);*/
    cursor: pointer;
    border-radius: 12px;
}
.post-file.audioplayer .audio-url > i.fa.fa-music {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
}
.post-file.audioplayer .audio-url > i.fa.fa-play {
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 58px;
    color: #fff;
    z-index: 10;
    display: none;
}
.post-file.audioplayer.is__covered .audio-url:not(.playing):not(.paused) > i.fa.fa-play {
    display: block;
}
.post-file.audioplayer .audio-url > i.fa.fa-pause {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: #fff;
    display: none;
    z-index: 10;
}
.post-file.audioplayer .audio-url > i.fa.fa-pause:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.post-file.audioplayer .audio-url.paused > i.fa.fa-pause {
    display: block;
}
.post-file.audioplayer.is__covered .audio-url {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.post-file.audioplayer.is__covered .audio-url > i.fa.fa-music,
.post-file.audioplayer .audio-url.paused > i.fa.fa-music {
    display: none;
}
.post-file.audioplayer .audio-url:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0);
    transition: all .3s ease;
    border-radius: inherit;
}
.post-file.audioplayer .audio-url.playing:before,
.post-file.audioplayer .audio-url.paused:before,
.post-file.audioplayer.is__covered .audio-url:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.2);
}
.post-file.audioplayer .audio-url > .bars {
    height: 30px;
    left: 50%;
    margin: -20px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 48px;
}
.post-file.audioplayer .audio-url > .bars.stopped {
    display: none;
}
.post-file.audioplayer .audio-url > .bars > .bar {
    background: #fff;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 6px;
    animation: sound 0ms -800ms linear infinite alternate;
    transition: all .3s ease;
}

@keyframes sound {
    0% {
        height: 21px; 
    }
    100% {    
        height: 28px;        
    }
}

.post-file.audioplayer .audio-url > .bars > .bar:nth-child(1)  { left: 1px; animation-duration: 374ms;  }
.post-file.audioplayer .audio-url > .bars > .bar:nth-child(2)  { left: 11px; animation-duration: 333ms; }
.post-file.audioplayer .audio-url > .bars > .bar:nth-child(3)  { left: 21px; animation-duration: 307ms; }
.post-file.audioplayer .audio-url > .bars > .bar:nth-child(4)  { left: 31px; animation-duration: 358ms; }
.post-file.audioplayer .audio-url > .bars > .bar:nth-child(5)  { left: 41px; animation-duration: 300ms; }




.plyr.plyr--audio {
    position: fixed;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.05);
}
.plyr.plyr--audio .plyr__control:hover {
    background: #6f99c8;
}
.plyr.plyr--audio .plyr__control.download > i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.plyr.plyr--audio .plyr__control.close > i {
    font-size: 18px;
    color: #e57373;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 480px) {
    .plyr.plyr--audio {
        left: 5px;
        right: 5px;
    }
}


.plyr.plyr--audio .plyr__control.download {
    width: 30px;
    height: 28px;
}
.plyr.plyr--audio .plyr__control.download:hover {
    background: #6f99c8;
}
.plyr.plyr--audio .plyr__control.download:hover > i {
    color: #fff;
}


.plyr.plyr--audio .plyr__control.close {
    width: 30px;
    height: 28px;
}
.plyr.plyr--audio .plyr__control.close:hover {
    background: #e57373;
}
.plyr.plyr--audio .plyr__control.close:hover > i {
    color: #fff;
}


.plyr.plyr--audio.plyr--full-ui input[type=range] {
    color: #6f99c8;
}














/* SHARED  */

.smiles-item42 {
    min-width: 46px;
    text-align: center;
}


.ml2{
    margin-left: 2px!important
}.ml5{
    margin-left: 5px!important
}.ml10{
    margin-left: 10px!important
}.ml15{
    margin-left: 15px!important
}.ml20{
    margin-left: 20px!important
}.ml30{
    margin-left: 30px!important
}.ml40{
    margin-left: 40px!important
}.ml50{
    margin-left: 50px!important
}.ml60{
    margin-left: 60px!important
}


.mr2{
    margin-right: 2px!important
}.mr5{
    margin-right: 5px!important
}.mr10{
    margin-right: 10px!important
}.mr15{
    margin-right: 15px!important
}.mr20{
    margin-right: 20px!important
}


.margin-h8{
    margin: 0 8px 0 8px!important;
}



/*  MODERATION */

.account-tabs>a:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.account-tabs>a {
    padding: 6px 9px;
    display: block;
    text-decoration: none;
}

/*
::-webkit-input-placeholder {
    color:transparent!important;
}
 
::-moz-placeholder { 
    color:transparent!important;; 
}
 
::-moz-placeholder { 
    color:transparent!important;; 
}
 
::-ms-input-placeholder {  
    color:transparent!important;;
}*/

.reply-small{
   /* left: 4px;*/
    height: 160px!important;
    width: 298px!important;
    min-width: 298px!important;
    min-height: 150px!important;
}

.post-small{
    min-width: 100%!important;
    max-width: 300px!important;
}

.post-small-hover{
    min-width: 1%!important;
    max-width: 300px!important;
}

.post-small img {
    height: auto!important;
    width: 100px!important;
}

.post-small i.fa {
    font-size: 12px!important;
}
.post-small time {
    font-size: 9px!important;
}
.post-small .post-id {
    font-size: 9px!important;
}

.post-small .post-trip {
    font-size: 9px!important;
}
.post-small .post-name {
    font-size: 9px!important;
}
 
.post-small .post-body {
    margin: 6px 0 0 0!important;
}

.post-small .post-file-info{
    display: none;
}

.post-small .post-file.audioplayer .audio-url {
    height: 50px!important;
    width: 70px!important;
}

.post-small .post-message {max-height: 140px!important;};




/*     F O N T  -  A W E S O M E     */



@font-face{
    font-family:FontAwesome;
    src:url(/stylesheets/fonts/awesome/fontawesome-webfont.eot?v=4.7.0);
    src:url(/stylesheets/fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"),
    url(/stylesheets/fonts/awesome/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),
    url(/stylesheets/fonts/awesome/fontawesome-webfont.woff?v=4.7.0) format("woff"),
    url(/stylesheets/awesome/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),
    url(/stylesheets/fonts/awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight:400;
    font-style:normal
}


@font-face{
    font-family:FontAwesome;
    src:url(/stylesheets/fonts/awesome/fontawesome-webfont.eot?v=4.7.0);
    src:url(/stylesheets/fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"),
    url(/stylesheets/fonts/awesome/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),
    url(/stylesheets/fonts/awesome/fontawesome-webfont.woff?v=4.7.0) format("woff"),
    url(/stylesheets/awesome/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),
    url(/stylesheets/fonts/awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight:400;
    font-style:normal
}


.fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.fa-lg{
    font-size:1.33333333em;
    line-height:.75em;
    vertical-align:-15%
}
.fa-2x{
    font-size:2em
}
.fa-3x{
    font-size:3em
}
.fa-4x{
    font-size:4em
}
.fa-5x{
    font-size:5em
}
.fa-fw{
    width:1.28571429em;
    text-align:center
}
.fa-ul{
    padding-left:0;
    margin-left:2.14285714em;
    list-style-type:none
}
.fa-ul>li{
    position:relative
}
.fa-li{
    position:absolute;
    left:-2.14285714em;
    width:2.14285714em;
    top:.14285714em;
    text-align:center
}
.fa-li.fa-lg{
    left:-1.85714286em
}
.fa-border{
    padding:.2em .25em .15em;
    border:.08em solid #eee;
    border-radius:.1em
}
.fa-pull-left{
    float:left
}
.fa-pull-right{
    float:right
}
.fa.fa-pull-left{
    margin-right:.3em
}
.fa.fa-pull-right{
    margin-left:.3em
}
.pull-right{
    float:right
}
.pull-left{
    float:left
}
.fa.pull-left{
    margin-right:.3em
}
.fa.pull-right{
    margin-left:.3em
}
.fa-spin{
    -webkit-animation:fa-spin 2s infinite linear;
    animation:fa-spin 2s infinite linear
}

@-webkit-keyframes fa-spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(359deg);
        transform:rotate(359deg)
    }
}
@keyframes fa-spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(359deg);
        transform:rotate(359deg)
    }
}



.fa-reply:before{
    content:"\f112"
}.fa-shield:before{
    content:"\f132"
}.fa-user-plus:before{
    content:"\f234"
}.fa-trash-o:before{
    content:"\f014"
}.fa-gavel:before{
    content:"\f0e3"
}.fa-question:before{
    content:"\f128"
}.fa-gear:before{
    content:"\f013"
}.fa-file-image-o:before{
    content:"\f1c5"
}
.fa-chevron-left:before{content:"\f053"}
.fa-chevron-right:before{content:"\f054"}
.fa-bold:before{
    content:"\f032"
}.fa-italic:before{
    content:"\f033"
}.fa-strikethrough:before{
    content:"\f0cc"
}.fa-eye-slash:before{
    content:"\f070"
}.fa-heart-o:before{
    content:"\f08a"
}.fa-youtube-play:before{
    content:"\f16a"
}.fa-spinner:before{
    content:"\f110"
}.fa-pulse{
    -webkit-animation:fa-spin 1s infinite steps(8);
    animation:fa-spin 1s infinite steps(8)
}.fa-fw{
    width:1.28571429em;
    text-align:center
}.fa-times:before{
    content:"\f00d"
}
.fa-film:before{content:"\f008"}
.fa-user:before{content:"\f007"}
.fa-smile-o:before{content:"\f118"}
.fa-angellist:before{content:"\f209"}
.fa-chevron-up:before{content:"\f077"}
.fa-chevron-down:before{content:"\f078"}
.fa-group:before,.fa-users:before{
    content:"\f0c0"
}
.fa-telegram:before{content:"\f2c6"}
.fa-paper-plane:before,.fa-send:before{content:"\f1d8"}
.fa-paper-plane-o:before,.fa-send-o:before{content:"\f1d9"}
.fa-trash:before{content:"\f1f8"}
.fa-pencil:before{content:"\f040"}
.fa-eye:before{content:"\f06e"}
.fa-eye-slash:before{content:"\f070"}
.fa-close:before,.fa-remove:before,.fa-times:before{content:"\f00d"}
.fa-check:before{content:"\f00c"}
.fa-backward:before{content:"\f04a"}
.fa-play:before{content:"\f04b"}
.fa-pause:before{content:"\f04c"}
.fa-stop:before{content:"\f04d"}
.fa-forward:before{content:"\f04e"}
.fa-download:before{content:"\f019"}
.fa-upload:before{content:"\f093"}
.fa-youtube:before{content:"\f167"}
.fa-minus-circle:before{content:"\f056"}
.fa-info-circle:before{content:"\f05a"}
.fa-vimeo-square:before{content:"\f194"}
.fa-lock:before {content: "\f023";}
.fa-thumb-tack:before {content: "\f08d";}
.fa-anchor:before {content: "\f13d";}
.fa-refresh:before {content: "\f021";}

/* PLYR PLAYLIST STYLE */

/* Playlist  */
/* scrollbar rules have to be separate, browsers not supporting this syntax will skip them when combined. */
.plyr-playlist-wrapper ul::-webkit-scrollbar {
    width: 6px;
  }
  
  .plyr-playlist-wrapper ul::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  
  .plyr-playlist-wrapper ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*  background: #fff; */
    background: #3498db;
  }
  .plyr-playlist-wrapper {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    padding: 0.5em 0.5em 0.5em 0.25em;
  }
  .plyr-playlist-wrapper .plyr-playlist {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* position: absolute;
    right: 65px;
    bottom: 100%; */
    position: relative;
    margin-top: 0;
    padding: 6px 4px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px 0px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px 0px inset;
  }
  
  .plyr-playlist-wrapper ul {
    padding: 0;
    margin: 0;
    max-height: 12em;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .plyr-playlist-wrapper ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .plyr-playlist-wrapper .plyr-playlist li {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0px;
    margin-bottom: 3px;
    font-size: 90%;
  }
  
  .plyr-playlist-wrapper .plyr-playlist li.pls-playing,
  .plyr-playlist-wrapper .plyr-playlist li:hover {
    color: #3498db;
    background-color: rgba(255, 255, 255, 0.09);
  }
  .plyr-playlist-wrapper .plyr-playlist li.pls-playing a {
    color: #3498db;
  }
  
  /* .plyr-playlist li:hover {
    background-color: rgba(255, 255, 255, 0.09);
  } */
  
  .plyr-playlist-wrapper .plyr-playlist li a {
    text-decoration: none;
    font-family: arial;
    color: #c9c9c9;
    display: block;
    padding: 10px 0;
    outline: none;
    padding: 0.5em 0.25em 0.5em 0.75em;
    /*margin-right: 0.5em;*/
    font-size: 90%;
    vertical-align: middle;
    padding-bottom: 10px;
  }
  
  .plyr-playlist-wrapper .plyr-playlist li:last-child a {
    border-bottom: 0;
  }
  
  .plyr-playlist li a:hover,
  .plyr-playlist li a:focus,
  .plyr-playlist li a:active {
    color: #04a9f3;
    /*  color: #00c85f;*/
    /*   text-decoration: none; */
  }
  
  .plyr-miniposter {
    width: auto;
    height: 22px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 10px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
  
  /*******************/
  
  .plyr-type-playlist plyr-playlist a.plyr-playlist-item-remove {
    float: right;
    margin-right: 15px;
    /*font-weight: bold;*/
    background-color: transparent;
  }
  
  
  /* PREVIOUS NEXT BUTTON */
  
  .plyr-prev {
    margin-right: 0 !important;
  }
  .plyr-next {
    margin-left: 0 !important;
  }
  .plyr__controls [data-plyr="play"] {
    margin-left: 0 !important;
  }
  /*
  .plyr-next:before {
    fa-step-backward
    content: "\f048";
  }
  */
  
  
  /* YOUTUBE HIDE BLACK BARS https://stackoverflow.com/a/33604743/211324 */
  /* https://jsfiddle.net/onigetoc/nomzb6hf/ */



/* Show / hide post form w/o js */

#njs_createbox + #createbox{
    display:none;
}
#njs_createbox:checked + #createbox{
    display:block;
}

@media (max-width: 767px) {
    table tbody td {
        font-size: 0.9em;
    }
    
}

@media (max-width: 600px) {
    table thead th {
        font-size: 0.6em;
    }
    
}


.btn-group>.button:not(:first-child):not(:last-child):not(.dropdown-toggle) {    
    border-radius: 0 !important;
    border-right: 0;
}
.btn-group>.button:first-child{    
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.btn-group>.button:last-child{    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-sm{
    padding: 0px 4px!important;
    
}