.s42
{
    cursor: pointer;
    display: inline-block; 
    background-size: 42px;
    width:42px;
    height:42px;
}

  
.s42-none{background-image:url(/stylesheets/smiles/none.png);}
.s42-yot{background-image:url(/stylesheets/smiles/none.png);}
.s42-aina_drink{background-image:url(/stylesheets/smiles/aina_drink.png);}
.s42-aina_smile{background-image:url(/stylesheets/smiles/aina_smile.png);}
.s42-aina_smile2{background-image:url(/stylesheets/smiles/aina_smile2.png);}
.s42-arin_dream{background-image:url(/stylesheets/smiles/arin_dream.png);}
.s42-atsuko_scorn{background-image:url(/stylesheets/smiles/atsuko_scorn.png);}
.s42-autism{background-image:url(/stylesheets/smiles/autism.png);}
.s42-best_work{background-image:url(/stylesheets/smiles/best_work.png);}
.s42-bin_pl{background-image:url(/stylesheets/smiles/bin_pl.png);}
.s42-bin_wow{background-image:url(/stylesheets/smiles/bin_wow.png);}
.s42-bis_pand{background-image:url(/stylesheets/smiles/bis_pand.png);}
.s42-bite{background-image:url(/stylesheets/smiles/bite.png);}
.s42-blackpink_kiss{background-image:url(/stylesheets/smiles/blackpink_kiss.png);}
.s42-bloodyeye{background-image:url(/stylesheets/smiles/bloodyeye.png);}
.s42-bomi_hey{background-image:url(/stylesheets/smiles/bomi_hey.png);}
.s42-box_shy{background-image:url(/stylesheets/smiles/box_shy.png);}
.s42-bstory{background-image:url(/stylesheets/smiles/bstory.png);}
.s42-bup{background-image:url(/stylesheets/smiles/bup.png);}
.s42-cage_lol{background-image:url(/stylesheets/smiles/cage_lol.png);}
.s42-cage_waw{background-image:url(/stylesheets/smiles/cage_waw.png);}
.s42-cat_tired{background-image:url(/stylesheets/smiles/cat_tired.png);}
.s42-cgluda{background-image:url(/stylesheets/smiles/cgluda.png);}
.s42-cha_wine{background-image:url(/stylesheets/smiles/cha_wine.png);}
.s42-elk_lol{ background-image:url(/stylesheets/smiles/elk_lol.png);}
.s42-chae_bombom{background-image:url(/stylesheets/smiles/chae_bombom.png);}
.s42-chae_eat{background-image:url(/stylesheets/smiles/chae_eat.png);}
.s42-chae_laught{background-image:url(/stylesheets/smiles/chae_laught.png);}
.s42-chae_like{background-image:url(/stylesheets/smiles/chae_like.png);}
.s42-chae_lol{background-image:url(/stylesheets/smiles/chae_lol.png);}
.s42-chae_notbad{background-image:url(/stylesheets/smiles/chae_notbad.png);}
.s42-chae_ser{background-image:url(/stylesheets/smiles/chae_ser.png);}
.s42-chae_smile{background-image:url(/stylesheets/smiles/chae_smile.png);}
.s42-chae_sulk{background-image:url(/stylesheets/smiles/chae_sulk.png);}
.s42-chae_tiger{background-image:url(/stylesheets/smiles/chae_tiger.png);}
.s42-chae_wut{background-image:url(/stylesheets/smiles/chae_wut.png);}
.s42-cheeck{background-image:url(/stylesheets/smiles/cheeck.png);}
.s42-chicchi_smug{background-image:url(/stylesheets/smiles/chicchi_smug.png);}
.s42-cocacola{background-image:url(/stylesheets/smiles/cocacola.png);}
.s42-cruz_lol{background-image:url(/stylesheets/smiles/cruz_lol.png);}
.s42-cry2{background-image:url(/stylesheets/smiles/cry2.png);}
.s42-crying{background-image:url(/stylesheets/smiles/crying.png);}
.s42-cs_why{background-image:url(/stylesheets/smiles/cs_why.png);}
.s42-dahyun_smile{background-image:url(/stylesheets/smiles/dahyun_smile.png);}
.s42-daoko_gun{background-image:url(/stylesheets/smiles/daoko_gun.png);}
.s42-day_wow{background-image:url(/stylesheets/smiles/day_wow.png);}
.s42-day_you{background-image:url(/stylesheets/smiles/day_you.png);}
.s42-dayo_what{background-image:url(/stylesheets/smiles/dayo_what.png);}
.s42-di{background-image:url(/stylesheets/smiles/di.png);}
.s42-drochesh{background-image:url(/stylesheets/smiles/drochesh.png);}
.s42-egg_ufo{background-image:url(/stylesheets/smiles/egg_ufo.png);}
.s42-emp_bed{background-image:url(/stylesheets/smiles/emp_bed.png);}
.s42-ems_pamu{background-image:url(/stylesheets/smiles/ems_pamu.png);}
.s42-eunha_beast{background-image:url(/stylesheets/smiles/eunha_beast.png);}
.s42-eunha_fat{background-image:url(/stylesheets/smiles/eunha_fat.png);}
.s42-eunha_like{background-image:url(/stylesheets/smiles/eunha_like.png);}
.s42-eunji_hi{background-image:url(/stylesheets/smiles/eunji_hi.png);}
.s42-eunji_secret{background-image:url(/stylesheets/smiles/eunji_secret.png);}
.s42-eunji_smile{background-image:url(/stylesheets/smiles/eunji_smile.png);}
.s42-euth{background-image:url(/stylesheets/smiles/euth.png);}
.s42-eye{background-image:url(/stylesheets/smiles/eye.png);}
.s42-facepalm{background-image:url(/stylesheets/smiles/facepalm.png);}
.s42-foreveralone{background-image:url(/stylesheets/smiles/foreveralone.png);}
.s42-gop{background-image:url(/stylesheets/smiles/gop.png);}
.s42-gun{background-image:url(/stylesheets/smiles/gun.png);}
.s42-gyaru{background-image:url(/stylesheets/smiles/gyaru.png);}
.s42-h_s_hug{background-image:url(/stylesheets/smiles/h_s_hug.png);}
.s42-hackerman{background-image:url(/stylesheets/smiles/hackerman.png);}
.s42-hage_tyan{background-image:url(/stylesheets/smiles/hage_tyan.png);}
.s42-han{background-image:url(/stylesheets/smiles/han.png);}
.s42-hana_hard{background-image:url(/stylesheets/smiles/hana_hard.png);}
.s42-hana_lips{background-image:url(/stylesheets/smiles/hana_lips.png);}
.s42-hana_lol{background-image:url(/stylesheets/smiles/hana_lol.png);}
.s42-hana_ohyou{background-image:url(/stylesheets/smiles/hana_ohyou.png);}
.s42-hana_pretty{background-image:url(/stylesheets/smiles/hana_pretty.png);}
.s42-hana_sleep{background-image:url(/stylesheets/smiles/hana_sleep.png);}
.s42-hana_smile{background-image:url(/stylesheets/smiles/hana_smile.png);}
.s42-hana_wtf{background-image:url(/stylesheets/smiles/hana_wtf.png);}
.s42-hana_you{background-image:url(/stylesheets/smiles/hana_you.png);}
.s42-harold{background-image:url(/stylesheets/smiles/harold.png);}
.s42-heart1{background-image:url(/stylesheets/smiles/heart1.png);}
.s42-heart2{background-image:url(/stylesheets/smiles/heart2.png);}
.s42-heart3{background-image:url(/stylesheets/smiles/heart3.png);}
.s42-hide_cry{background-image:url(/stylesheets/smiles/hide_cry.png);}
.s42-hospade_kakya_nyasha{background-image:url(/stylesheets/smiles/hospade_kakya_nyasha.png);}
.s42-hyejeon_skirt{background-image:url(/stylesheets/smiles/hyejeon_skirt.png);}
.s42-hyejeong_amazed{background-image:url(/stylesheets/smiles/hyejeong_amazed.png);}
.s42-hyejeong_bestgirl{background-image:url(/stylesheets/smiles/hyejeong_bestgirl.png);}
.s42-hyejeong_blame{background-image:url(/stylesheets/smiles/hyejeong_blame.png);}
.s42-hyejeong_cheeks{background-image:url(/stylesheets/smiles/hyejeong_cheeks.png);}
.s42-hyejeong_contain{background-image:url(/stylesheets/smiles/hyejeong_contain.png);}
.s42-hyejeong_cream{background-image:url(/stylesheets/smiles/hyejeong_cream.png);}
.s42-hyejeong_cute{background-image:url(/stylesheets/smiles/hyejeong_cute.png);}
.s42-hyejeong_feed{background-image:url(/stylesheets/smiles/hyejeong_feed.png);}
.s42-hyejeong_finderkiss{background-image:url(/stylesheets/smiles/hyejeong_finderkiss.png);}
.s42-hyejeong_frowns{background-image:url(/stylesheets/smiles/hyejeong_frowns.png);}
.s42-hyejeong_fun{background-image:url(/stylesheets/smiles/hyejeong_fun.png);}
.s42-hyejeong_funny{background-image:url(/stylesheets/smiles/hyejeong_funny.png);}
.s42-hyejeong_heart{background-image:url(/stylesheets/smiles/hyejeong_heart.png);}
.s42-hyejeong_hz{background-image:url(/stylesheets/smiles/hyejeong_hz.png);}
.s42-hyejeong_kiss{background-image:url(/stylesheets/smiles/hyejeong_kiss.png);}
.s42-hyejeong_laugh{background-image:url(/stylesheets/smiles/hyejeong_laugh.png);}
.s42-hyejeong_ohyou{background-image:url(/stylesheets/smiles/hyejeong_ohyou.png);}
.s42-hyejeong_omg{background-image:url(/stylesheets/smiles/hyejeong_omg.png);}
.s42-hyejeong_ownage{background-image:url(/stylesheets/smiles/hyejeong_ownage.png);}
.s42-hyejeong_rejection{background-image:url(/stylesheets/smiles/hyejeong_rejection.png);}
.s42-hyejeong_sad{background-image:url(/stylesheets/smiles/hyejeong_sad.png);}
.s42-hyejeong_sulk{background-image:url(/stylesheets/smiles/hyejeong_sulk.png);}
.s42-hyejeong_tired{background-image:url(/stylesheets/smiles/hyejeong_tired.png);}
.s42-hyejeong_trick{background-image:url(/stylesheets/smiles/hyejeong_trick.png);}
.s42-hyejeong_wink{background-image:url(/stylesheets/smiles/hyejeong_wink.png);}
.s42-hyejeong_wow{background-image:url(/stylesheets/smiles/hyejeong_wow.png);}
.s42-hyejong_stare{background-image:url(/stylesheets/smiles/hyejong_stare.png);}
.s42-hyeri_pls{background-image:url(/stylesheets/smiles/hyeri_pls.png);}
.s42-hyperlol{background-image:url(/stylesheets/smiles/hyperlol.png);}
.s42-hyuina_lol{background-image:url(/stylesheets/smiles/hyuina_lol.png);}
.s42-hyunjoo_sexy{background-image:url(/stylesheets/smiles/hyunjoo_sexy.png);}
.s42-im_crazy{background-image:url(/stylesheets/smiles/im_crazy.png);}
.s42-interesting{background-image:url(/stylesheets/smiles/interesting.png);}
.s42-irene_see{background-image:url(/stylesheets/smiles/irene_see.png);}
.s42-jenni_sing{background-image:url(/stylesheets/smiles/jenni_sing.png);}
.s42-jennie_vaseline{background-image:url(/stylesheets/smiles/jennie_vaseline.png);}
.s42-jim_depression{background-image:url(/stylesheets/smiles/jim_depression.png);}
.s42-jim_smile1{background-image:url(/stylesheets/smiles/jim_smile1.png);}
.s42-jim_smile2{background-image:url(/stylesheets/smiles/jim_smile2.png);}
.s42-jim_smile3{background-image:url(/stylesheets/smiles/jim_smile3.png);}
.s42-jim_wut{background-image:url(/stylesheets/smiles/jim_wut.png);}
.s42-jooe_herpderp{background-image:url(/stylesheets/smiles/jooe_herpderp.png);}
.s42-joy_contempt{background-image:url(/stylesheets/smiles/joy_contempt.png);}
.s42-joy_say{background-image:url(/stylesheets/smiles/joy_say.png);}
.s42-joy_side{background-image:url(/stylesheets/smiles/joy_side.png);}
.s42-jp_anon{background-image:url(/stylesheets/smiles/jp_anon.png);}
.s42-jp_coolstory{background-image:url(/stylesheets/smiles/jp_coolstory.png);}
.s42-jp_dude{background-image:url(/stylesheets/smiles/jp_dude.png);}
.s42-jp_dude2{background-image:url(/stylesheets/smiles/jp_dude2.png);}
.s42-jp_half_anon{background-image:url(/stylesheets/smiles/jp_half_anon.png);}
.s42-jp_hug{background-image:url(/stylesheets/smiles/jp_hug.png);}
.s42-jpgun{background-image:url(/stylesheets/smiles/jpgun.png);}
.s42-juon{background-image:url(/stylesheets/smiles/juon.png);}
.s42-jyp1{background-image:url(/stylesheets/smiles/jyp1.png);}
.s42-jyp2{background-image:url(/stylesheets/smiles/jyp2.png);}
.s42-katana{background-image:url(/stylesheets/smiles/katana.png);}
.s42-kewow{background-image:url(/stylesheets/smiles/kewow.png);}
.s42-kgirl1{background-image:url(/stylesheets/smiles/kgirl1.png);}
.s42-kgirl2{background-image:url(/stylesheets/smiles/kgirl2.png);}
.s42-komi_blood{background-image:url(/stylesheets/smiles/komi_blood.png);}
.s42-kpalm{background-image:url(/stylesheets/smiles/kpalm.png);}
.s42-lol_pls{background-image:url(/stylesheets/smiles/lol_pls.png);}
.s42-luda_sexy{background-image:url(/stylesheets/smiles/luda_sexy.png);}
.s42-luffy_sugoi{background-image:url(/stylesheets/smiles/luffy_sugoi.png);}
.s42-mina_boring{background-image:url(/stylesheets/smiles/mina_boring.png);}
.s42-mina_cry{background-image:url(/stylesheets/smiles/mina_cry.png);}
.s42-mina_fail{background-image:url(/stylesheets/smiles/mina_fail.png);}
.s42-mina_sorrow{background-image:url(/stylesheets/smiles/mina_sorrow.png);}
.s42-mitoll{background-image:url(/stylesheets/smiles/mitoll.png);}
.s42-momo_song{background-image:url(/stylesheets/smiles/momo_song.png);}
.s42-mouse_yessir{background-image:url(/stylesheets/smiles/mouse_yessir.png);}
.s42-mug{background-image:url(/stylesheets/smiles/mug.png);}
.s42-naeun_tease{background-image:url(/stylesheets/smiles/naeun_tease.png);}
.s42-naeun_wrinkle{background-image:url(/stylesheets/smiles/naeun_wrinkle.png);}
.s42-nana_smile{background-image:url(/stylesheets/smiles/nana_smile.png);}
.s42-nana_wow{background-image:url(/stylesheets/smiles/nana_wow.png);}
.s42-nap{background-image:url(/stylesheets/smiles/nap.png);}
.s42-nay_gl{background-image:url(/stylesheets/smiles/nay_gl.png);}
.s42-nayeon_disgust{background-image:url(/stylesheets/smiles/nayeon_disgust.png);}
.s42-nayong_lol{background-image:url(/stylesheets/smiles/nayong_lol.png);}
.s42-nayoung_smile{background-image:url(/stylesheets/smiles/nayoung_smile.png);}
.s42-nobrain{background-image:url(/stylesheets/smiles/nobrain.png);}
.s42-none{background-image:url(/stylesheets/smiles/none.png);}
.s42-none3{background-image:url(/stylesheets/smiles/none3.png);}
.s42-nunu_smart{background-image:url(/stylesheets/smiles/nunu_smart.png);}
.s42-ohmygod{background-image:url(/stylesheets/smiles/ohmygod.png);}
.s42-old_man{background-image:url(/stylesheets/smiles/old_man.png);}
.s42-oldfag{background-image:url(/stylesheets/smiles/oldfag.png);}
.s42-oldfag_lol{background-image:url(/stylesheets/smiles/oldfag_lol.png);}
.s42-panluna{background-image:url(/stylesheets/smiles/panluna.png);}
.s42-panluna2{background-image:url(/stylesheets/smiles/panluna2.png);}
.s42-peka{background-image:url(/stylesheets/smiles/peka.png);}
.s42-peka_lol{background-image:url(/stylesheets/smiles/peka_lol.png);}
.s42-pepe_cool{background-image:url(/stylesheets/smiles/pepe_cool.png);}
.s42-pepe_sad{background-image:url(/stylesheets/smiles/pepe_sad.png);}
.s42-reina_see{background-image:url(/stylesheets/smiles/reina_see.png);}
.s42-rly{background-image:url(/stylesheets/smiles/rly.png);}
.s42-rose_ok{background-image:url(/stylesheets/smiles/rose_ok.png);}
.s42-rose_see{background-image:url(/stylesheets/smiles/rose_see.png);}
.s42-rose_zero{background-image:url(/stylesheets/smiles/rose_zero.png);}
.s42-run{background-image:url(/stylesheets/smiles/run.png);}
.s42-sally_wow{background-image:url(/stylesheets/smiles/sally_wow.png);}
.s42-salt{background-image:url(/stylesheets/smiles/salt.png);}
.s42-sana_cheese{background-image:url(/stylesheets/smiles/sana_cheese.png);}
.s42-sana_smile{background-image:url(/stylesheets/smiles/sana_smile.png);}
.s42-sana_sorrow{background-image:url(/stylesheets/smiles/sana_sorrow.png);}
.s42-sana_sorry{background-image:url(/stylesheets/smiles/sana_sorry.png);}
.s42-sana_wow{background-image:url(/stylesheets/smiles/sana_wow.png);}
.s42-seol_coffee{background-image:url(/stylesheets/smiles/seol_coffee.png);}
.s42-seol_smart{background-image:url(/stylesheets/smiles/seol_smart.png);}
.s42-seulgi_hubris{background-image:url(/stylesheets/smiles/seulgi_hubris.png);}
.s42-sexy_dance{background-image:url(/stylesheets/smiles/sexy_dance.png);}
.s42-shakal{background-image:url(/stylesheets/smiles/shakal.png);}
.s42-shit{background-image:url(/stylesheets/smiles/shit.png);}
.s42-shui{background-image:url(/stylesheets/smiles/shui.png);}
.s42-shy{background-image:url(/stylesheets/smiles/shy.png);}
.s42-shy2{background-image:url(/stylesheets/smiles/shy2.png);}
.s42-smokeman{background-image:url(/stylesheets/smiles/smokeman.png);}
.s42-smug{background-image:url(/stylesheets/smiles/smug.png);}
.s42-soju{background-image:url(/stylesheets/smiles/soju.png);}
.s42-somi_angry{background-image:url(/stylesheets/smiles/somi_angry.png);}
.s42-somi_angry2{background-image:url(/stylesheets/smiles/somi_angry2.png);}
.s42-somi_asight{background-image:url(/stylesheets/smiles/somi_asight.png);}
.s42-somi_flashback{background-image:url(/stylesheets/smiles/somi_flashback.png);}
.s42-somi_rage{background-image:url(/stylesheets/smiles/somi_rage.png);}
.s42-somi_sight{background-image:url(/stylesheets/smiles/somi_sight.png);}
.s42-somik{background-image:url(/stylesheets/smiles/somik.png);}
.s42-sosmile{background-image:url(/stylesheets/smiles/sosmile.png);}
.s42-soyee_ok{background-image:url(/stylesheets/smiles/soyee_ok.png);}
.s42-spoon{background-image:url(/stylesheets/smiles/spoon.png);}
.s42-sumni_sulk{background-image:url(/stylesheets/smiles/sumni_sulk.png);}
.s42-suss{background-image:url(/stylesheets/smiles/suss.png);}
.s42-suy_happy{background-image:url(/stylesheets/smiles/suy_happy.png);}
.s42-tagaren_fist{background-image:url(/stylesheets/smiles/tagaren_fist.png);}
.s42-tat{background-image:url(/stylesheets/smiles/tat.png);}
.s42-tellme{background-image:url(/stylesheets/smiles/tellme.png);}
.s42-thinking{background-image:url(/stylesheets/smiles/thinking.png);}
.s42-tongue{background-image:url(/stylesheets/smiles/tongue.png);}
.s42-trick{background-image:url(/stylesheets/smiles/trick.png);}
.s42-troll{background-image:url(/stylesheets/smiles/troll.png);}
.s42-tzuyu_revnost{background-image:url(/stylesheets/smiles/tzuyu_revnost.png);}
.s42-ubu_tea{background-image:url(/stylesheets/smiles/ubu_tea.png);}
.s42-umji_glum{background-image:url(/stylesheets/smiles/umji_glum.png);}
.s42-unn_notbad{background-image:url(/stylesheets/smiles/unn_notbad.png);}
.s42-v{background-image:url(/stylesheets/smiles/v.png);}
.s42-ye_lol{background-image:url(/stylesheets/smiles/ye_lol.png);}
.s42-yeeun_sad{background-image:url(/stylesheets/smiles/yeeun_sad.png);}
.s42-yeri_ok{background-image:url(/stylesheets/smiles/yeri_ok.png);}
.s42-yoojin_lol{background-image:url(/stylesheets/smiles/yoojin_lol.png);}
.s42-yoojin_sulk{background-image:url(/stylesheets/smiles/yoojin_sulk.png);}
.s42-yuji_1{background-image:url(/stylesheets/smiles/yuji_1.png);}
.s42-yuji_2{background-image:url(/stylesheets/smiles/yuji_2.png);}
.s42-yuji_bad{background-image:url(/stylesheets/smiles/yuji_bad.png);}
.s42-yuji_hope{background-image:url(/stylesheets/smiles/yuji_hope.png);}
.s42-yuji_like{background-image:url(/stylesheets/smiles/yuji_like.png);}
.s42-yuji_listen{background-image:url(/stylesheets/smiles/yuji_listen.png);}
.s42-yuji_np{background-image:url(/stylesheets/smiles/yuji_np.png);}
.s42-yuji_prt{background-image:url(/stylesheets/smiles/yuji_prt.png);}
.s42-yuji_science{background-image:url(/stylesheets/smiles/yuji_science.png);}
.s42-yuji_sml{background-image:url(/stylesheets/smiles/yuji_sml.png);}
.s42-yuji_sunshine{background-image:url(/stylesheets/smiles/yuji_sunshine.png);}
.s42-yuji_trouble{background-image:url(/stylesheets/smiles/yuji_trouble.png);}
.s42-yuji_wonder{background-image:url(/stylesheets/smiles/yuji_wonder.png);}
.s42-yuji_wow{background-image:url(/stylesheets/smiles/yuji_wow.png);}
.s42-yuna_listen{background-image:url(/stylesheets/smiles/yuna_listen.png);}
.s42-yves_aim{background-image:url(/stylesheets/smiles/yves_aim.png);}
.s42-yves_shot{background-image:url(/stylesheets/smiles/yves_shot.png);}
.s42-zontjp{background-image:url(/stylesheets/smiles/zontjp.png);}
.s42-klass{background-image:url(/stylesheets/smiles/klass.png);}
.s42-hyejeong_skirt{background-image:url(/stylesheets/smiles/hyejeong_skirt.png);}
.s42-hyejeong_truestory{background-image:url(/stylesheets/smiles/hyejeong_truestory.png);}
.s42-hyejeong_resist{background-image:url(/stylesheets/smiles/hyejeong_resist.png);}
.s42-hyejeong_pokerface{background-image:url(/stylesheets/smiles/hyejeong_pokerface.png);}
.s42-hyejeong_really{background-image:url(/stylesheets/smiles/hyejeong_really.png);}
.s42-hyejeong_giggle{background-image:url(/stylesheets/smiles/hyejeong_giggle.png);}
.s42-hyejeong_ohmy{background-image:url(/stylesheets/smiles/hyejeong_ohmy.png);}
.s42-hyejeong_bed{background-image:url(/stylesheets/smiles/hyejeong_bed.png);}
.s42-hyejeong_tears{background-image:url(/stylesheets/smiles/hyejeong_tears.png);}
.s42-hyejeong_weed{background-image:url(/stylesheets/smiles/hyejeong_weed.png);}
.s42-hugs{background-image:url(/stylesheets/smiles/hugs.png);}

.s42-rose_shy{background-image:url(/stylesheets/smiles/rose_shy.png);}
.s42-rose_laugh{background-image:url(/stylesheets/smiles/rose_laugh.png);}
.s42-rose_maniac{background-image:url(/stylesheets/smiles/rose_maniac.png);}
.s42-rose_aw{background-image:url(/stylesheets/smiles/rose_aw.png);}
.s42-rose_fun{background-image:url(/stylesheets/smiles/rose_fun.png);}
.s42-rose_pleased{background-image:url(/stylesheets/smiles/rose_pleased.png);}

.s42-rose_np{background-image:url(/stylesheets/smiles/rose_np.png);}
.s42-rose_rly{background-image:url(/stylesheets/smiles/rose_rly.png);}
.s42-rose_boring{background-image:url(/stylesheets/smiles/rose_boring.png);}
.s42-rose_angry{background-image:url(/stylesheets/smiles/rose_angry.png);}
.s42-rose_laugh{background-image:url(/stylesheets/smiles/rose_laugh.png);}
.s42-rose_ooo{background-image:url(/stylesheets/smiles/rose_ooo.png);}
.s42-rose_giggle{background-image:url(/stylesheets/smiles/rose_giggle.png);}
.s42-rose_chortle{background-image:url(/stylesheets/smiles/rose_chortle.png);}
.s42-rose_wa{background-image:url(/stylesheets/smiles/rose_wa.png);}
.s42-rose_ha{background-image:url(/stylesheets/smiles/rose_ha.png);}
.s42-rose_heart{background-image:url(/stylesheets/smiles/rose_heart.png);}
.s42-rose_chee{background-image:url(/stylesheets/smiles/rose_chee.png);}
.s42-rose_chuu{background-image:url(/stylesheets/smiles/rose_chuu.png);}

.s42-sumin_cute{background-image:url(/stylesheets/smiles/sumin_cute.png);}
.s42-sumin_finger{background-image:url(/stylesheets/smiles/sumin_finger.png);}
 

 


.s42-wink1{background-image:url(/stylesheets/smiles/wink1.png);}
.s42-vulgar_wink{background-image:url(/stylesheets/smiles/vulgar_wink.png);}
.s42-soyeon_lol{background-image:url(/stylesheets/smiles/soyeon_lol.png);}
.s42-cb_yuju_susp{background-image:url(/stylesheets/smiles/cb_yuju_susp.png);}

.s42-cb_yuju_hide{background-image:url(/stylesheets/smiles/cb_yuju_hide.png);}
.s42-sejeong_ew{background-image:url(/stylesheets/smiles/sejeong_ew.png);}
.s42-mimi_smile{background-image:url(/stylesheets/smiles/mimi_smile.png);}


 
.s42-jeong_funny{background-image:url(/stylesheets/smiles/jeong_funny.png);}
.s42-jeong_lol{background-image:url(/stylesheets/smiles/jeong_lol.png);}
.s42-jeong_peek{background-image:url(/stylesheets/smiles/jeong_peek.png);}
.s42-jeong_smile{background-image:url(/stylesheets/smiles/jeong_smile.png);}
.s42-jeong_teased{background-image:url(/stylesheets/smiles/jeong_teased.png);}
.s42-jeong_wink{background-image:url(/stylesheets/smiles/jeong_wink.png);}
.s42-jeong_wut{background-image:url(/stylesheets/smiles/jeong_wut.png);}
.s42-mina_shrug{background-image:url(/stylesheets/smiles/mina_shrug.png);}
.s42-dahyun_lol{background-image:url(/stylesheets/smiles/dahyun_lol.png);}


.s42-yaschitayu{background-image:url(/stylesheets/smiles/yaschitayu.png);}
.s42-bora_sulk{background-image:url(/stylesheets/smiles/bora_sulk.png);}
.s42-eunseo_chuu{background-image:url(/stylesheets/smiles/eunseo_chuu.png);}
.s42-mirae_smile{background-image:url(/stylesheets/smiles/mirae_smile.png);}
.s42-cb_yuju_smile{background-image:url(/stylesheets/smiles/cb_yuju_smile.png);}
.s42-cb_yuju_ohyou{background-image:url(/stylesheets/smiles/cb_yuju_ohyou.png);}
.s42-yujeong_smile{background-image:url(/stylesheets/smiles/yujeong_smile.png);}
.s42-eunseo_ohyou{background-image:url(/stylesheets/smiles/eunseo_ohyou.png);}
.s42-bora_smile{background-image:url(/stylesheets/smiles/bora_smile.png);}
.s42-bora_shy{background-image:url(/stylesheets/smiles/bora_shy.png);}

.s42-kyulkyung_smile{background-image:url(/stylesheets/smiles/kyulkyung_smile.png);}
.s42-kyulkyung_smile2{background-image:url(/stylesheets/smiles/kyulkyung_smile2.jpg);}
.s42-kyulkyung_sulk{background-image:url(/stylesheets/smiles/kyulkyung_sulk.png);}
 

.s42-jeong_boring{background-image:url(/stylesheets/smiles/jeong_boring.png);}
.s42-jeong_morning{background-image:url(/stylesheets/smiles/jeong_morning.png);}
.s42-jeong_heart{background-image:url(/stylesheets/smiles/jeong_heart.png);}
.s42-jeong_ok{background-image:url(/stylesheets/smiles/jeong_ok.png);}
.s42-jihyo_listening{background-image:url(/stylesheets/smiles/jihyo_listening.png);}
.s42-tzuyu_angry{background-image:url(/stylesheets/smiles/tzuyu_angry.png);}

 

.s42-chae_tt{background-image:url(/stylesheets/smiles/chae_tt.png);}
.s42-chae_fighting{background-image:url(/stylesheets/smiles/chae_fighting.png);}
.s42-jeong_tt{background-image:url(/stylesheets/smiles/jeong_tt.png);}
.s42-chae_you{background-image:url(/stylesheets/smiles/chae_you.png);}
.s42-sana_come_here{background-image:url(/stylesheets/smiles/sana_come_here.png);}
.s42-mina_hi{background-image:url(/stylesheets/smiles/mina_hi.png);}
.s42-mirae_sad{background-image:url(/stylesheets/smiles/mirae_sad.png);}
.s42-remi_hope{background-image:url(/stylesheets/smiles/remi_hope.png);}
.s42-jeong_crying{background-image:url(/stylesheets/smiles/jeong_crying.png);}
.s42-sana_thinking{background-image:url(/stylesheets/smiles/sana_thinking.png);}
.s42-kokoro_sulk{background-image:url(/stylesheets/smiles/kokoro_sulk.png);}



.s42-dahyun_calling{background-image:url(/stylesheets/smiles/dahyun_calling.png);}
.s42-sana_neomuhae{background-image:url(/stylesheets/smiles/sana_neomuhae.png);}
.s42-haeyoon_lips{background-image:url(/stylesheets/smiles/haeyoon_lips.png);}
.s42-jiwon_hi{background-image:url(/stylesheets/smiles/jiwon_hi.png);}
.s42-may_lol{background-image:url(/stylesheets/smiles/may_lol.png);}
.s42-chaerin_hwaiting{background-image:url(/stylesheets/smiles/chaerin_hwaiting.png);}
.s42-linlin_glad{background-image:url(/stylesheets/smiles/linlin_glad.png);}


 

/* ANIME SMILES 
suiseiseki, madoka_dump, mayoi, sleep, souseiseki
aihara, ibiza, kanna, ruiko, tamako
araragi, desu, hitagi, karen, kobayashi, kyoko, makuhiko, nonon, oshino, reiji, rena, riko_blood, ruyko, sakura_cc, smugface, suruga, tsumugi, umaru, umaru_smug, yui
*/
.s42-suiseiseki{background-image:url(/stylesheets/smiles/suiseiseki.png);}
.s42-madoka_dumb{background-image:url(/stylesheets/smiles/madoka_dumb.png);}
.s42-mayoi{background-image:url(/stylesheets/smiles/mayoi.png);}
.s42-sleep{background-image:url(/stylesheets/smiles/sleep.png);}
.s42-souseiseki{background-image:url(/stylesheets/smiles/souseiseki.png);}
.s42-aihara{background-image:url(/stylesheets/smiles/aihara.png);}
.s42-ibiza{background-image:url(/stylesheets/smiles/ibiza.png);}
.s42-kanna{background-image:url(/stylesheets/smiles/kanna.png);}
.s42-ruiko{background-image:url(/stylesheets/smiles/ruiko.png);}
.s42-tamako{background-image:url(/stylesheets/smiles/tamako.png);}
.s42-araragi{background-image:url(/stylesheets/smiles/araragi.png);}
.s42-DESU{background-image:url(/stylesheets/smiles/desu.png);}
.s42-desu{background-image:url(/stylesheets/smiles/desu.png);}
.s42-hitagi{background-image:url(/stylesheets/smiles/hitagi.png);}
.s42-karen{background-image:url(/stylesheets/smiles/karen.png);}
.s42-kobayashi{background-image:url(/stylesheets/smiles/kobayashi.png);}
.s42-kyoko{background-image:url(/stylesheets/smiles/kyoko.png);}
.s42-kotori{background-image:url(/stylesheets/smiles/kotori.png);}
.s42-nonon{background-image:url(/stylesheets/smiles/nonon.png);}
.s42-oshino{background-image:url(/stylesheets/smiles/oshino.png);}
.s42-reiji{background-image:url(/stylesheets/smiles/reiji.png);}
.s42-rena{background-image:url(/stylesheets/smiles/rena.png);}
.s42-riko_blood{background-image:url(/stylesheets/smiles/riko_blood.png);}
.s42-ruyko{background-image:url(/stylesheets/smiles/ruyko.png);}
.s42-sakura_cc{background-image:url(/stylesheets/smiles/sakura_cc.png);}
.s42-smugface{background-image:url(/stylesheets/smiles/smugface.png);}
.s42-suruga{background-image:url(/stylesheets/smiles/suruga.png);}
.s42-tsumugi{background-image:url(/stylesheets/smiles/tsumugi.png);}
.s42-umaru{background-image:url(/stylesheets/smiles/umaru.png);}
.s42-umaru_smug{background-image:url(/stylesheets/smiles/umaru_smug.png);}
.s42-yui{background-image:url(/stylesheets/smiles/yui.png);}


.s42-asuka{background-image:url(/stylesheets/smiles/asuka.png);}
.s42-chito{background-image:url(/stylesheets/smiles/chito.png);}
.s42-kakyoin{background-image:url(/stylesheets/smiles/kakyoin.png);}
.s42-nanachi{background-image:url(/stylesheets/smiles/nanachi.png);}
.s42-rei{background-image:url(/stylesheets/smiles/rei.png);}
.s42-shinji{background-image:url(/stylesheets/smiles/shinji.png);}
.s42-shion{background-image:url(/stylesheets/smiles/shion.png);}
.s42-mari{background-image:url(/stylesheets/smiles/mari.png);}

.s42-nozomi_yes{background-image:url(/stylesheets/smiles/nozomi_yes.png);}
.s42-pikarin_devil{background-image:url(/stylesheets/smiles/pikarin_devil.png);}

/* OTHER */
.s42-star_gold{background-image:url(/stylesheets/smiles/star_gold.png);}
.s42-more{background-image:url(/stylesheets/smiles/more.png);}
