<!doctype html>
<html>
<head>
{% include 'head.html' %}
<title>AntiSpam</title>
<meta name="description" content="Antispam check" />
</head>
<body>
{% include 'header.html' %} 

<main class="main">

<section class="board" id="threads">
<h1 class="page-title"><a href="{{ board.url }}" style="text-decoration: none;">Проходная Darknet</a></h1>
<hr>

<section class="threads-container" id="thread-container">
<article class="thread_single" id="thread_id">

 
<center>

{% if is_darknet == false %}
<p> Вам не нужно проходить проверку. </p>
<br />
<a href="{{ back_link }}">Назад</a>
{% elseif config.tor_posting == false %}
<p> На данной доске запрещён постинг из тора. </p>
<br />
<a href="{{ back_link }}">Назад</a>
{% elseif allow_post == true  %}
<p> Вы прошли проверку. Больше вводить капчу не нужно.</p>
<br />
<a href="{{ back_link }}">Назад</a>
{% else %}

 
	<p>Пользователям onion/i2p необходимо вводить капчу, куки должны быть включены.</p>
</center>

<br/>

<center>
	<form method="POST">
	
	{% include 'captcha.html' %}

	Осталось решить капч:  {{ captchas_need - captchas_left }}.
 
	{% if solved_message %}	<br/>{{solved_message}}{% endif %}

	<ul style="padding:5px;list-style:none">
		<li><input type="submit" value="Отправить"></li>
	</ul>


	{% if board.uri %}
		<input type="text" name="board" value="{{ board.uri }}" style='display: none'>
	{% endif %}


 	{% endif %}
	</form>
</center> 






    

</article>
</section>





{% include 'footer.html' %}
</section> 
</main>
<aside class="hover-container hover-container_thread"></aside>
{% include 'body_footer.html' %}
</body>
</html>