<!doctype html>
<html>
<head>
{% include 'head.html' %}
<title>AntiSpam</title>
<meta name="description" content="Antispam check" />
</head>
<body>
{% include 'header.html' %} 

<main class="main">

<section class="board" id="threads">
<h1 class="page-title l_antispam_title"></h1>
<hr>

<section class="threads-container" id="thread-container">
<article class="thread_single" id="thread_id">

 
<center>
{% if is_darknet == false %}
	<p class='l_antispam_dont'></p>
	<br />
	<a class='l_back' href="{{ back_link }}"></a>
{% elseif config.tor_posting == false %}
	<p class='l_antispam_block'></p>
	<br />
	<a class='l_back' href="{{ back_link }}"></a>
{% elseif allow_post == true  %}
	<p class='l_antispam_done'></p>
	<br />
	<a class='l_back' href="{{ back_link }}"></a>
{% else %}

	<p class='l_antispam_desc'></p>
</center>

<br/>

<center>
	<form method="POST">
	
	{% include 'captcha.html' %}

	<p class='l_antispam_left'> {{ captchas_need - captchas_left }}.</p>
 
	{% if solved_message %}	<br/>{{solved_message}}{% endif %}

	<ul style="padding:5px;list-style:none">
		<li><input class='theme-button' type="submit" value="Next"></li>
	</ul>


	{% if board.uri %}
		<input type="text" name="board" value="{{ board.uri }}" style='display: none'>
	{% endif %}


{% endif %}
	</form>
</center> 
</article>
</section>


{% include 'footer.html' %}
</section> 
</main>
<aside class="hover-container hover-container_thread"></aside>
{% include 'body_footer.html' %}
</body>
</html>