
	
{% if config.custom_header is defined and config.custom_header|length > 3 %}
{% include config.custom_header %}
{% else %}
<header class="header">
<a class="header-item header-logo" href="/" title="Home"><i class="logo" style="background-image: url({{ config.header.logo }})"></i></a>


{% for name, uri in config.header.pages %}
	{% if name|slice(0, 2) == 'l_' %}
		<a class="view-pc  header-item header-board {{ name }}" href="{% if mod %}/{{ config.file_mod }}?{% endif %}{{ uri }}"></a>
	{% else %}
		<a class="view-pc  header-item header-board" href="{% if mod %}/{{ config.file_mod }}?{% endif %}{{ uri }}">{{ name }}</a>
	{% endif %}
{% endfor %}

<!-- MOBILE HEADER  -->
<div class="view-mobile mobile-menu">
	<select onchange="location = this.value;">
			<option></option>
		{% for name, uri in config.header.pages %}
			{% if name|slice(0, 2) == 'l_' %}
			<option value="{% if mod %}/{{ config.file_mod }}?{% endif %}{{ uri }}" class="{{name}} localize"></option>
			{% else %}
			<option value="{% if mod %}/{{ config.file_mod }}?{% endif %}{{ uri }}" >{{name}}/</option>
			{% endif %}
		{% endfor %}
	</select>
</div>



<div class="header-spacer"></div>

<div id="header-icons">
<a class="header-item header-icon" id="btn-neotube" title="Neotube" onclick="searchTubes()" style='display: none'><i class="fa fa-film"></i></a>
<a class="header-item header-icon header-options-icon" title="Login" id="btn-login"><i class="fa fa-user"></i></a>
<a class="header-item header-icon" title="Help" href='/faq.html'><i class="fa fa-question"></i></a>  
<a class="header-item header-icon header-options-icon" title="Settings" id="btn-options"><i class="fa fa-gear"></i></a>
</div>

</header>
{% endif %}



<aside class="modal-container">

<div id="options" class="modal" style="display: none;">
<span class='l_option' style='font-weight: bold;'></span>
<span  style="position: absolute;right: 20px; cursor: pointer;font-size: 13px;">
	<a class="l_optionSave" style="padding: 0 5px;" onclick='loadSettings()'></a>
	<a class="l_optionLoad" style="padding: 0 5px;" onclick='saveSettings()'></a>
</span>
<hr>


<div class='options-tab'>

<div class='options-item'>
	<select name="language" id="language" class="option-select" style='width:95px'>
		{% for word, name in config.sup_languages %}
		<option value="{{ word }}">{{ name }}</option>
		{% endfor %}
	</select> 
	<label class="option-label ml5 l_language" for="language" ></label>
</div>

<div class='options-item'>
	<select name="theme" id="theme" class="option-select" style='width:95px'>
	{% for name, uri in config.stylesheets %}
	<option value="{{ uri|split('.')[0] }}">{{ name }}</option>
	{% endfor %}
	</select> 
	<label class="option-label ml5 l_sitetheme" for="theme" ></label>
</div>
<br>


</div>
</div>


<div id="login" class="modal" style="display: none;min-width: 218px;">
		<span class='l_board_control'></span>
		<hr style="margin:10px 0!important">
		<br>

		<form action="api.php" method="POST">
			<aside style='padding-left: 28px;'>

				<label for="email" class='l_login_label' style='margin: 5px;font-size: 12px;'></label>
				<br>
				<input class='theme-textbox' style='margin: 5px; width: 150px;' type="email" id="luser">
				<p></p>
		
				<label for="password" class='l_passwd_label' style='margin: 5px;font-size: 12px;'></label>
				<br>
				<input class='theme-textbox' style='margin: 5px;width: 150px;' type="password" id="lpass">
		
			</aside>

			<br>
			<div id='login_captcha'></div>
			<div style='text-align: center;'>
				<div class="l_login_enter button send-button" style="text-align: center" onclick='login()'></div>
			</div>
			<br>

			<!--
			<br>
			<div id='login_captcha'></div>
			<br>

			<div style='padding:20px 2px 5px;text-align: center;'>
					<div class="l_login_enter button send-button" style="margin-right:14px" onclick='login()'></div>
					<div class="l_login_reg button send-button" onclick='register()'></div>
			</div>

			!-->
		</form>
	
</div>



<div id="profile" class="modal" style="display: none; ">
	<span id="profileName" style="font-family: system-ui;font-size: 16px;"></span>
	<hr>
	<br>


	<div class="account-tabs">
		<a href="/{{ config.file_mod }}?/"> Панель управления</a>
		<a href="#"> Репорты <span class="pull-right alert-numb account-reports">0</span></a>
		<a href="/{{ config.file_mod }}?/inbox"> Сообщения <span class="pull-right alert-numb account-messages">0</span></a>
	</div>


	<br>
	<div style='padding:20px 10px 5px;'>
			<div class="l_login_out button send-button" onclick='logOut()'></div>
	</div>
</div>


</aside>




<aside class="alerts-container">
<div class="alerts-container-inner">
<div id="alert" class="modal" style="display: none;"></div>
</div>
</aside>



<nav class="page-nav">
	<a class="page-nav-item page-nav-top page-nav-item_active" href="#top"><i class="fa fa-chevron-up"></i></a>
 
	<a class="page-nav-item page-nav-middle page-nav-item_active" href="/{{ board.uri }}"><i class="fa fa-chevron-left"></i></a>

	<a class="page-nav-item page-nav-bottom page-nav-item_active" href="#footer"><i class="fa fa-chevron-down"></i></a>
</nav>

