{%set npref = 'neo23' %}
{%set style_time = filemtime('stylesheets/light.css')%}

{%set all_time = filemtime('stylesheets/all.css')%}
{%set url_javascript_time = filemtime(config.url_javascript)%}

<meta charset="utf-8"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
{% if config.meta_description %}<meta name="description" content="{{ config.meta_description }}">{% endif %}
{% if board and not board.indexed %}<meta name="robots" content="noindex" />{% endif %}


<link rel="shortcut icon" href="{{ config.root }}{{ config.favicon.normal }}" />

<!-- CSS  -->

  
{% if config.country_flags_condensed %}<link rel="stylesheet" href="{{ config.root }}{{ config.country_flags_condensed_css }}">{% endif %}





<!-- JS  -->
<script type="text/javascript" src="/timejs.php?id=1"></script>



<script type="text/javascript">
 
	var config = { 
		root : "{{ config.root }}",
		max_images : {{ config.max_images }}, 
		theme : "{{ config.default_theme }}",  
		language : "{{ config.default_language }}",
		fav_norm : "{{ config.favicon.normal }}",
		fav_new : "{{ config.favicon.new }}",
		fav_you : "{{ config.favicon.you }}",
		neotube : {% if config.neotube.enable %}true{% else %}false{% endif %},
		opmod:  {% if config.opmod.enable %}true{% else %}false{% endif %},
		mod : {% if mod %}true{% else %}false{% endif %},
		mod_root : "{{ config.root }}mod.php?/",
		test : 0,
{% if js_config is defined %}
{% for key, value in js_config %}
{{ key }}:{% if value is same as(true) %}true{% elseif value is same as(false) %}false{% else %}'{{value}}'{% endif %},
{% endfor %}
{% endif %}
	};	

	if (!config.hasOwnProperty('active_page') ) {
		config['active_page'] = 'other';
	}

	/* load and check selected language */
	var selected_language = localStorage.getItem('language');

	if(selected_language === null){
		selected_language = (navigator.language || navigator.userLanguage).substr(0, 2);
		
		if(['ua', 'be', 'kz'].includes(selected_language))
		{
			selected_language='ru';
		}
	}

	{% raw %}
	var sup_languages = [
		{% endraw %}
		{% for word, name in config.sup_languages %}{% raw %}'{% endraw %}{{ word }}{% raw %}',
		{% endraw %}{% endfor %}{% raw %}
	];
	{% endraw %}

	if(sup_languages.includes(selected_language)){
		config.language = selected_language;
	}

	/* load and check selected theme */
	var selected_theme = localStorage.getItem('theme-css');

	if(selected_theme !== null){
		config.theme = selected_theme;
	}

	

	var css_theme 	 = "<link rel='stylesheet' id='theme-css' type='text/css' href='/stylesheets/"+ config.theme +".css?{{style_time}}'>";
	var css_language = "<link rel='stylesheet' id='language-css' type='text/css' href='/stylesheets/lang/"+ config.language +".css?{{all_time}}'>";

	document.write(css_theme);
	document.write(css_language);
	document.close();	
</script> 


<link rel="stylesheet" id="overall_theme" type="text/css" href='/stylesheets/all.css?{{ all_time }}'>
<noscript>
<link rel="stylesheet" href="/stylesheets/{{ config.default_theme }}.css?{{ style_time }}">
<link rel='stylesheet' id='language-css' type='text/css' href='/stylesheets/lang/en.css?{{all_time}}'>
</noscript>



 

{% if not nojavascript %}
	<script type="text/javascript" src="{{ config.url_javascript }}?{{ npref }}{{ url_javascript_time }}"></script>
	{% if not config.additional_javascript_compile %}
	{% for javascript in config.additional_javascript %}<script type="text/javascript" src="{{ config.additional_javascript_url }}{{ javascript }}"></script>{% endfor %}
	{% endif %}
       {% if config.emoji_enable %}
            <script type="text/javascript" src="/{{ config.additional_javascript.emoji }}"></script>
       {% endif %}
{% endif %}
{% if config.katex %}<script type="text/javascript" src="/js/mathjax/MathJax.js?config=8chanTeX"></script>{% endif %}

