<!doctype html>
<html>
<head>
{% include 'head.html' %}
<title>/{{ board.uri }}/ - {{ board.subtitle }}</title>
<script type="text/javascript">
	{% if not no_post_form %}
		var active_page = "index";
	{% else %}
		var active_page = "ukko";
	{% endif %}
		var board_name="{{ board.uri }}";

	{% if config.neotube.enable %}
		var tube_name="{% if config.neotube.redirect %}{{ config.neotube.redirect }}{% else %}{{ board.uri }}{% endif %}";
	{% endif %}
	</script>
{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.root }}{{ config.url_favicon }}">{% endif %}
</head>
<body> 
{% include 'header.html' %}
  

<main class="main">
<section class="board" id="threads">
<h1 class="page-title"><a href="{{ board.url }}" style="text-decoration: none;">{{ board.title|e }}</a></h1>
{% if config.global_message %}
<div class="page-news">{{ config.global_message }}</div>
{% endif %}
<br>

{% if not no_post_form %}
<input id="njs_createbox" type="checkbox" style="display: none">  
<aside class="reply-container reply-container_board" id='createbox'>
	<br>
	{% include 'post_form_new_thread.html' %}
	<br>
</aside>


<nav>
	<label for="njs_createbox" class="button mr5 l_new_theread" onclick='lastReply()'></label>
	<a class="button mr5 l_catalog" href='catalog.html'></a>

	{% include 'pagination.html' %}
	
<div class="board-search" style="display:none;">
<input class="board-search-input board-search-input_catalog" type="text" placeholder=""></input>
<button class="board-search-button l_search"></button>
</div>
</nav>
{% endif %}



<hr>

<section class="threads-container" id="index-thread-container">
{{ body }}
</section>





{% if not no_post_form %}
<nav>
	<a class="button mr5 l_new_theread" onclick='lastReply()'></a>
	<a class="button mr5 l_catalog"></a>
	
	{% include 'pagination.html' %}	
</div>
</nav>
{% endif %}


{% include 'footer.html' %}
</section>
</main>
{% include 'body_footer.html' %}
</body>
</html>