<!doctype html>
<html>
<head>

{% set js_config = { 'active_page': 'other', 'board_uri': board.uri } %}
{% include 'head.html' %}

{% if l_title %}
<title class='{{l_title}}'></title>
{% else %}
<title>{{ title }}</title>
{% endif %}
 
</head>
{% include 'header.html' %}
{% if mod %}{% include 'mod/header.html' %}{% endif %}
<body>

<main class="main">
<section class="board" id="threads">

	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr>{% endif %}
	<header>
		{% if config.site_logo %}
		<figure id="logo">
			<a id="logo-link" href="/" title="Return to the front page">
				<img id="logo-img" src="{{config.site_logo}}" alt="{{config.site_nane}}" />
			</a>
		</figure>
		{% endif %}
		
		{% if l_title %}
		<h1 class='page-title {{l_title}}'></h1>
		{% else %}
		<h1 class='page-title'>{{ title }}</h1>
		{% endif %}

		<div class="subtitle" style="text-align: center;">
			{% if subtitle %}
				{{ subtitle }}
			{% endif %}
			{% if mod and not hide_dashboard_link %}<p><a class='l_return_to_dashboard' href="?/"></a></p>{% endif %}
		</div>
	</header>



	<section class="threads-container" id="thread-container">
	
			{{ body }}
		
	</section>
<hr>
</section>
</main>
{% include 'body_footer.html' %}
</body>
 
</html>
