{% if post.subject|trim|length < 1 %}
{% if post.body|striptags|length > 21 %}
{% set post_subject = post.body|slice(0,20)|striptags ~ '...' %}
{% else %}
{% set post_subject = post.body|striptags %}
{% endif %}
{% else %}
{% set post_subject = post.subject %}
{% endif %}
{% set thread_trip = post.trip %}


{% filter remove_whitespace %}
{# tabs and new lines will be ignored #}
<article class="thread thread_index"  id="thread_{{ post.id }}"  data-board="{{ board.uri }}" data-thread="{{ post.id }}">
<article class="post post_op post_{{ board.uri }}_{{ post.id }}_{{ post.id }} {% if post.files %} post_file{% endif %}{% if post.num_files > 1 %} post_files{% endif %}" id="post{{ post.id }}" data-board="{{ board.uri }}" data-thread={{ post.id }} data-post={{ post.id }}>
<header class="post-header">
	<span class='thread-toggle toggle-hide' onclick='toggleThread(event)'></span>
	{% include 'post/rating.html' %}
	{% if isukko == true %}<h3 class="post-header-item post-subject"><a href="/{{ post.board }}/">/{{ post.board }}</a></h3>{% endif %}
	{% if not index %}<a id="{{ post.id }}" name="{{ post.id }}" class="post_anchor"></a>{% endif %}
	<a class="post-id-vi" onclick="post_menu(event)"></a>
	<a class="post-header-item post-id" href="{{ post.link }}" onclick="post_menu(event)">#{{ post.id }}</a>

	<a class="post-subject" href="{{ post.link }}">{{ post_subject }}</a></h3>
	{% if post.trip %}<span class="post-trip" style='vertical-align:unset'>{{ post.trip }}</span>{% endif %}
	{% include 'post/mod_attributes.html' %}
	{% include 'post/post_controls.html' %}
	<time class="post-header-item post-time" unixtime={{ post.time }} edit='{% if post.edited_at %}{{ post.edited_at }}{% else %}{{ post.time }}{% endif %}' datetime="{{ post.time|date('%Y-%m-%dT%H:%M:%S') }}{{ timezone() }}" onclick="hideReply({{ post.id }})">{{ post.time|date(config.post_date) }}</time>
	
	<a class='post-no' onclick="cite(event)">{{ post.id }}</a>
	{% if index %}
	<a class='post-thread-reply l_reply' href="{{ post.link }}"></a>
	{% endif %}
 
</header>


<section class="post-body">
	{% set is_thread = true %}
	{% if post.files %}
	{% include 'post/fileinfo.html' %} 
	{% endif %}
	{% set is_thread = false %}
<blockquote class="post-message">{{ post.body }}{% include 'post/poll.html' %}</blockquote>
{% include 'post/edited_at.html' %}
</section>

<footer class="post-footer">
<div class="post-controls" {% if index %} style='display: none;'{% endif %}>
	{% if config.opmod.enable %}
	<a class="control post-control post-opmod-control" title="OP Moderation" href="/usermod.php?/{{ board.uri }}/res/{{ post.id }}.html/"><i class="fa fa-shield"></i></a>
	{% endif %}
	<a class="control post-control post-ban-control"><i class="fa fa-gavel"></i></a>
	<a class="control post-control post-quote-control" onclick="cite(event)"><i class="fa fa-reply"></i></a> 
	<a class="control post-control" id="toggle-neotube" title="Neotube" onclick="toggleNeoTube()" style='display: none'><i class="fa fa-film"></i></a>
</div>

<div class="post-backlinks" {% if index %} style='display: none;'{% endif %}>
{% if post.backlinks is defined %}
{% for b_id in post.backlinks %}
<a class="post-link" data-id='{{ b_id }}' onclick="highlightReply({{ b_id }}, event);" href="#{{ b_id }}">&gt;&gt;{{ b_id }}</a>
{% endfor %}
{% endif %}
</div>
</footer>



</article>
<div class="omit">
{% if post.omitted %}
<div class="omit-info" data-posts='{{ post.omitted }}' data-files='{{ post.omitted_images }}'></div>
{% endif %}
{% if index %}
<a class="omit-link l_view_thread" href="{% if mod %}?{% endif %}/{{ board.uri }}/res/{{ post.id }}.html"></a>
{% endif %}
</div>

{% endfilter %}
{% set hr = post.hr %}
{% for post in post.posts %}
	{% include 'post_reply.html' %}
{% endfor %}
</article>
<hr>











































