{% filter remove_whitespace %}
{# tabs and new lines will be ignored #}
<article class="post{% if post.files %} post_file{% endif %}{% if post.num_files > 1 %} post_files{% endif %} post_{{ board.uri }}_{{ post.thread }}_{{ post.id }}" id="reply_{{ post.id }}" data-board="{{ board.uri }}" data-thread={{ post.thread }} data-post={{ post.id }}>
	<header class="post-header">
		{% if not index %}<a id="{{ post.id }}" name="{{ post.id }}" class="post_anchor"></a>{% endif %}
		<a class="post-id-vi" onclick="post_menu(event)"></a>
		<a class="post-id" href="{{ post.link }}" onclick="post_menu(event)">#{{ post.id }}</a>

		{% include 'post/flag.html' %} 
		{% include 'post/ip.html' %}
		{% include 'post/name.html' %}

		{% if mod %}<div class="view-inline-pc">{% include 'post/post_controls.html' %}</div> {% endif %}	
		<time class="post-time" unixtime={{ post.time }} edit='{% if post.edited_at %}{{ post.edited_at }}{% else %}{{ post.time }}{% endif %}' datetime="{{ post.time|date('%Y-%m-%dT%H:%M:%S') }}{{ timezone() }}" onclick="hideReply({{ post.id }})">{{ post.time|date(config.post_date) }}</time>
		<a class='post-no' onclick="cite(event)">{{ post.id }}</a>
		<span class='post-co'></span>
	</header>
	<section class="post-body">
		{% if post.files %}
		{% include 'post/fileinfo.html' %} 
		{% endif %}
		<blockquote class="post-message">{{ post.body }}{% include 'post/poll.html' %}</blockquote>
	</section>
	<footer class="post-footer">
		{% if mod %}<div class="view-inline-mobile">{% include 'post/post_controls.html' %}</div> {% endif %}
		<div class="post-backlinks">
{% if post.backlinks is defined %}
{% for b_id in post.backlinks %}
<a class="post-link" data-id='{{ b_id }}' onclick="highlightReply({{ b_id }}, event);" href="#{{ b_id }}">&gt;&gt;{{ b_id }}</a>
{% endfor %}
{% endif %}
		</div>
		<div class="post-controls">
			{% if post.modifiers['ban message'] %}
				{{ config.mod.ban_message|sprintf(post.modifiers['ban message']) }}
			{% else %}
			{% include 'post/edited_at.html' %}
			{% endif %}
			<a class="control post-quote-control" onclick="cite(event)"><i class="fa fa-reply"></i></a>
		</div>

	</footer>
</article>

{% endfilter %}































