<!doctype html>
<html>
<head>
{% include 'head.html' %}
<meta name="description" content="/{{ board.uri }}/ - {{ board.title|e }} - {{ meta_subject }}" />
<meta name="twitter:card" value="summary">
<meta property="og:title" content="{{ meta_subject }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="/{{ board.uri }}/{{ config.dir.res }}{{ thread.id }}.html" />

<script type="text/javascript">
	var active_page = "search";
	var board_name="seach";
</script>
<title class="l_search"></title>
</head>
<body>
{% include 'header.html' %}
 
 
  
 
<main class="main">

<section class="board" id="threads">
<h1 class="page-title l_search"><a href="/search.php" style="text-decoration: none;"></a></h1>


<div class="ban">
	<form style="display:inline" action="" method="get">
		<p>
		<label style="display:inline" class="l_phase" for="search"></label> 
		<input id="search" class="theme-textbox" name="search" type="text" size="40" value="{{ search }}">
		<select name="board" style="margin-left: 12px">
			<option value="none">{% trans %}Select board{% endtrans %}&hellip;</option>
			{% for b1 in boards %}
			<option value="{{ b1 }}"{% if b == b1 %} selected{% endif %}>/{{ b1 }}/</option>
			{% endfor %}
		</select>
		<input type="submit" class="button" value="{% trans %}Search{% endtrans %}" style="margin-left: 12px"/>
		</p>
	</form>
	<p style="font-size:8pt;margin:5px">
			{% trans %}Search is case-insensitive and based on keywords. To match exact phrases, use "quotes". Use an asterisk (*) for wildcard.</p><p style="font-size:8pt;margin:5px">You may apply the following filters to your searches: <strong>id</strong>, <strong>thread</strong>, <strong>subject</strong>, and <strong>name</strong>. To apply a filter, simply add to your query, for example, <em>name:Anonymous</em> or <em>subject:"Some Thread"</em>. Wildcards cannot be used in filters.{% endtrans %}
	</p>
</div>
	

<section class="threads-container" id="thread-container">
<article class="thread_single" id="thread_id" data-id="{{ thread.id }}">
<article class="thread thread_index">

{{ body }}

</article>
</article>
</section>



 

{% include 'footer.html' %}
</section> 
</main>
<aside class="hover-container hover-container_thread"></aside>
{% include 'body_footer.html' %}
</body>
</html>