<!doctype html>
<html>
<head>
{% include 'head.html' %}
{% set meta_subject %}{% if config.thread_subject_in_title and thread.subject %}{{ thread.subject|e }}{% else %}{{ thread.body_nomarkup[:256]|remove_modifiers|e }}{% endif %}{% endset %}
<meta name="description" content="/{{ board.uri }}/ - {{ board.title|e }} - {{ meta_subject }}" />
<meta name="twitter:card" value="summary">
<meta property="og:title" content="{{ meta_subject }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="/{{ board.uri }}/{{ config.dir.res }}{{ thread.id }}.html" />

<script type="text/javascript">
	var active_page = "thread";
	var board_name="{{ board.uri }}";
	var allow_online="{{ config.allow_online }}";

	{% if config.neotube.enable %}
	var tube_name="{% if config.neotube.redirect %}{{ config.neotube.redirect }}{% else %}{{ board.uri }}{% endif %}";
	{% endif %}
</script>
<title>{{ meta_subject }}</title>
</head>
<body>
{% include 'header.html' %}
 
 
  
 
<main class="main">

<section class="board" id="threads">
<h1 class="page-title"><a href="{{ board.url }}" style="text-decoration: none;">{{ thread.subject }}</a></h1>
{% if config.global_message %}
<div class="page-news">{{ config.global_message }}</div>
{% endif %}
<nav>
	<a class="button mr5 l_back" href="../"></a>
	<a class="button mr5 l_catalog" href="{{ board.url }}catalog.html"></a>
	<a class="button mr5 l_reply" onclick='lastReply()'></a>
</nav>

<hr>

<section class="threads-container" id="thread-container">
<article class="thread_single" id="thread_id" data-id="{{ thread.id }}">

{{ body }}

</article>
</section>

<aside class="reply-container" id='replybox' style='display: none;'>
	<br>
	{% include 'post_form.html' %}
	<br>
</aside>

<noscript> 
<aside class="reply-container" id='replybox'>
	<br>
	{% include 'post_form_reply_noscript.html' %}
	<br>
</aside>
</noscript>


<nav id='nav_bottom'>
	<a class="button mr5 l_back" href="../"></a>
	<a class="button mr5 l_catalog" href="{{ board.url }}catalog.html"></a>
	<a class="button mr5 l_reply" onclick='lastReply()'></a>
	<!--<img src='/static/img/loading30.gif' id='loading' style='text-align:right;float:right;display:none;'></img>!-->
	<span class='update-text' title="обновить тред" id='update_text' onclick='manualLoad()'></span>
	<i class="fa fa-spinner fa-pulse fa-fw" id='spinner' style="display:none;margin-left:10px"></i>

	<i id='thread-info'>
	{% if config.allow_online %}
	<i class='t-stat' title='онлайн на доске'>
		<i class='t-icon fa fa-user'></i>
		<i class='t-num' id='ts-online'></i>
	</i>
	{% endif %}
	<i class='t-stat' title='постов в треде'>
		<i class='t-icon fa fa-comment'></i>
		<i class='t-num' id='ts-count'> {{ post_count }}</i>
	</i>
	</i>
		
		
	 

</nav>

{% include 'footer.html' %}
</section> 
</main>
<aside class="hover-container hover-container_thread"></aside>
{% include 'body_footer.html' %}
</body>
</html>