{% if post.files and mod %}

{% if file.file != 'deleted' and mod|hasPermission(config.mod.deletefile, board.uri) %}
<a class="control-image post-edit-control" title="Удалить файл" onclick="edit_request('mod_delete_file', '{{ board.uri }}', '{{ post.thread }}', '{{ post.id }}', '{{ file.hash }}')"><i class="fa fa-trash"></i></a>
{% endif %}

{% if file.file and file.file != 'deleted' and mod|hasPermission(config.mod.spoilerimage, board.uri) %}
<a class="control-image post-edit-control ml30" title="Спойлер" onclick="edit_request('mod_spoiler_file', '{{ board.uri }}', '{{ post.thread }}', '{{ post.id }}', '{{ file.hash }}')"><i class="fa fa-eye-slash"></i></a>
{% endif %}

{% if file.file and file.file != 'deleted' and mod|hasPermission(config.mod.banfilehash, board.uri) %}
<a class="control-image post-edit-control ml60" title="Хэшбан" onclick="edit_request('mod_banfilehash', '{{ board.uri }}', '', '{{ file.size }}', '{{ file.hash }}')"><i class="fa fa-gavel"></i></a>
{% endif %}

{% endif %}