{% if file.replace %}
{% set video_full_path = file.replace %}
{% else %}
{% set video_full_path = config.uri_img ~ post.file %}
{% endif %}


<a class="post-file-link" href="{{ video_full_path }}"
	target="_blank"
	{% if config.show_filename %} name="{{ post.filename|e }}" {% endif %}
	{% if post.thumb == 'file' or post.modifiers['is_file'] == '1' or extension == 'webm' or extension == 'mp4' %}
		 class="file"
	{% endif %}


	{% if post.extension == 'webm' or post.extension == 'mp4' %}

	onclick="return expand('{{ post.hash }}','{{ video_full_path }}','{{ post.uri_thumb }}',{{ post.width }},{{post.height}},{{ post.thumbwidth }},{{post.thumbheight}}, 0, 0, event)"
	
	{% else %}

	onclick="return expand('{{ post.hash }}','{{ video_full_path }}','{{ post.uri_thumb }}',{{ post.width }},{{post.height}},{{ post.thumbwidth }},{{post.thumbheight}}, 0, 0, event)"
	
	{% endif %}
>
	 
	{% if post.extension == 'webm' or post.extension == 'mp4' %}


	<img src="{% if post.thumb == 'file' %}
					{{ config.root }}
					{% if config.file_icons[post.filename|extension] %}
						{{ config.file_thumb|sprintf(config.file_icons[post.filename|extension]) }}
					{% else %}
						{{ config.file_thumb|sprintf(config.file_icons.default) }}
					{% endif %}
				{% elseif post.thumb == 'spoiler' %}
					{{ config.root }}{{ config.spoiler_image }}
				{% else %}
					{{ config.uri_thumb }}{{ post.thumb }}
				{% endif %}
			"
		width="{{ post.thumbwidth }}" height="{{ post.thumbheight }}"
		class="img preview webm-file "
		data-md5="{{ post.hash }}"
	/>



	{% else %}

	{% if is_thread == true and post.extension == 'gif'  %}

	<img class="img preview"
		src="{{ config.uri_img }}{{ post.file }}"
		 style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px"
		 alt="{{post.width }}x{{ post.height }}" 
		 data-md5="{{ post.hash }}"
	/>
	{% else %}

		
	{% if post.extension == 'gif' %}
		<span class='post-gif-marker'></span>
	{% endif %}

	<img class="img preview {% if post.thumb == 'spoiler' %}spoilered{% endif %}"
	
		src="{% if post.resize_error %}{{ config.uri_img }}{{ post.file }}{% else %}
			{% if post.thumb == 'file' %}
				{{ config.root }}
				{% if config.file_icons[post.filename|extension] %}
					{{ config.file_thumb|sprintf(config.file_icons[post.filename|extension]) }}
				{% else %}
					{{ config.file_thumb|sprintf(config.file_icons.default) }}
				{% endif %}
			{% elseif post.thumb == 'spoiler' %}
				{{ config.root }}{{ config.spoiler_image }}
			{% else %}
				{{ config.uri_thumb }}{{ post.thumb }}
			{% endif %}
			{% endif %}
		"
		{% if post.origThumbwidth %}
		style="width:{{ post.origThumbwidth }}px;height:{{ post.origThumbheight }}px"
		{% else %}
		style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px"
		{% endif %}
		alt="{{post.width }}x{{ post.height }}"  
		data-md5="{{ post.hash }}"
 
	/>

	{% endif %}


	{% endif %}
	
</a>
