{% if post.modifiers['capcode'] %}
	<span class='post-name capcode capcode-{{ post.modifiers['capcode'] }}'></span>
{% elseif post.name|length > 1 %}
	<span class='post-name'>{{ post.name }}</span>
{% endif %}

{% if post.trip %}
	<span class="post-trip">{{ post.trip }}</span>
{% else %}

{% if post.name|length > 1 or post.modifiers['capcode'] %}

{% else %}
	{% if config.anonymous|length > 1 %}
	<span class='post-name-default'>{{ config.anonymous }}</span>
	{% else %}
	<span class='post-name-default l_anonymous'></span>
	{% endif %}
{% endif %}

<span class="post-trip"></span>
{% endif %}

{% if config.show_sages == true and post.sage %}
	<span class="post-sage"></span>
{% endif %}




