{% if post.capcode and post.capcode.name %}
	<span class='capcode'>capcode.name</span>
{% else %}




{% endif %}


{% if post.name|length > 1 %}
	<span class='post-name'>{{ post.name }}</span>
{% endif %}

{% if post.trip %}
	<span class="post-trip">{{ post.trip }}</span>
{% else %}

{% if post.name|length > 1 %}

{% else %}
	{% if config.anonymous|length > 1 %}
	<span class='post-name-default'>{{ config.anonymous }}</span>
	{% else %}
	<span class='post-name-default l_anonymous'></span>
	{% endif %}
{% endif %}

<span class="post-trip"></span>
{% endif %}

{% if config.show_sages == true and post.sage %}
	<span class="post-sage"></span>
{% endif %}




