<div class="mod-login">
	<h1 class='l_Authorization'></h1>
	{% if error %}<h4 style="text-align:center">{{ error }}</h4>{% endif %}
	<form action="" method="post">
		<label for="login" class="l_login_label"></label><br>
		<input class="theme-textbox" type="login" name="username">
			
		<label for="password" class="l_passwd_label"></label><br>
		<input class="theme-textbox"  type="password" name="password">

		<button type="submit" class="button l_btn_Login" name="login"></button>
		
		{% if config.allow_create_account %}
		<div style="text-align:center;margin-top: 20px;    opacity: 0.5;">    
			<a class='l_login_reg' href="/create.php?account=1"></a>
		</div>
		{% endif %}
    </form>
</div>


<style>
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

.mod-login { 
	position: absolute;
	top: 25%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:260px;
	height:300px;
}
.mod-login h1 {  
	letter-spacing:2px; 
	text-align:center; 
}
.mod-login input { 
	width: 100%; 
	margin-bottom: 10px; 
}
.mod-login button { 
	width: 100%; 
}
</style>


