 
<section class="threads-container" id="index-thread-container">
<article class="thread thread_index" id="thread_133754" data-board="kpop" data-thread="133754">

<script src="{{ config.additional_javascript_url }}js/mod/recent_posts.js"></script>
{% if not posts|length %}
	<p style="text-align:center" class="unimportant">({% trans 'There are no active posts.' %})</p>
{% else %}
	<h4>Viewing last {{ limit|e }} posts</h4>
	<p>View <a href="?/recent/25"> 25 </a>|<a href="?/recent/50"> 50 </a>|<a href="?/recent/100"> 100 </a></p>
	<a href="javascript:void(0)" id="erase-local-data" style="float:right; clear:both">Erase local data</a></div>

	<hr/>

	{% for post in posts %}
		{% if not post.thread %}
			{% set thread = post.id %}
		{% else %}
			{% set thread = post.thread %}
		{% endif %}
			<a class="eita-link" id="eita-{{ post.board }}-{{ thread }}" href="?/{{ post.board }}/res/{{ thread }}.html#{{ post.id }}">/{{ post.board }}/{{ post.id }}</a>
			{{ post.built }}
	{% endfor %}

{% endif %}
<a href="/mod.php?/recent/{{ limit }}&amp;last={{ last_time }}">Next {{ limit }} posts</a>
 

</article>
</section>
