<html>
<head>
<meta charset="utf-8"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel='stylesheet' type='text/css' href='/stylesheets/light_blue.css'>
<link rel='stylesheet' type='text/css' href='/stylesheets/mod/mod.css'>
<link rel='stylesheet' type='text/css' href='/stylesheets/all.css'>

<title>DONE!</title>
</head>

<body>

<header class="header">
<a class="header-item header-logo"><i class="logo"  style="background-image: url(/static/logo.png)"></i></a>
<a class="header-item header-board" href="/"></a>
</header>

<main class="main">
<section class="board" id="threads">
<h1 style='padding-bottom:30px'><a href="{{ board.url }}" style="text-decoration: none;">Install</a></h1>


<section class="threads-container" id="thread-container">




<div class='board-settings'>

<br><br>
<span style='display: flex;justify-content: center;color: green;font-size: 18px;'>
	Blocked! Neoboard was already installed.
</span>

</div>



<hr>




</section>





</main>
</body>
</html>















