<html>
<head>
<meta charset="utf-8"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel='stylesheet' type='text/css' href='/stylesheets/light_blue.css'>
<link rel='stylesheet' type='text/css' href='/stylesheets/mod/mod.css'>
<link rel='stylesheet' type='text/css' href='/stylesheets/all.css'>

<title>DONE!</title>
</head>

<body>

<header class="header">
<a class="header-item header-logo"><i class="logo"  style="background-image: url(/static/logo.png)"></i></a>
<a class="header-item header-board" href="/"></a>
</header>

<main class="main">
<section class="board" id="threads">
<section class="threads-container" id="thread-container">


<div class='board-settings'>

<br><br>

<div style='text-align: center;'>
	<span style='color: green;font-size: 18px;'>Success! Install is complete :</span>
	<br><br><br>

	Username : <span style='color: green;font-size: 18px; font-weight: bold'>{{ username }}</span>
	<br>
	Password : <span style='color: green;font-size: 18px; font-weight: bold'>{{ password }}</span>

	<br><br><br><br>
	<a style='font-size: 18px;' href='/mod.php'>ADMIN PANEL</a>
</div>
 


</div>



<hr>
</section>
</section>
</main>
</body>
</html>















